---
swagger: '2.0'
host: pro-api.coinmarketcap.com
basePath: "/"
schemes:
- https
info:
  title: CoinMarketCap Cryptocurrency API Documentation
  version: 1.26.0
  description: "# Introduction\nThe CoinMarketCap API is a suite of high-performance
    RESTful JSON endpoints that are specifically designed to meet the mission-critical
    demands of application developers, data scientists, and enterprise business platforms.\n\nThis
    API reference includes all technical documentation developers need to integrate
    third-party applications and platforms. Additional answers to common questions
    can be found in the [CoinMarketCap API FAQ](https://coinmarketcap.com/api/faq).\n\n#
    Quick Start Guide\n\nFor developers eager to hit the ground running with the CoinMarketCap
    API here are a few quick steps to make your first call with the API.\n\n1. **Sign
    up for a free Developer Portal account.** You can sign up at [pro.coinmarketcap.com](https://pro.coinmarketcap.com)
    - This is our live production environment with the latest market data. Select
    the free `Basic` plan if it meets your needs or upgrade to a paid tier.\n2. **Copy
    your API Key.** Once you sign up you'll land on your Developer Portal account
    dashboard. Copy your API from the `API Key` box in the top left panel.\n3. **Make
    a test call using your key.** You may use the code examples provided below to
    make a test call with your programming language of choice. This example [fetches
    all active cryptocurrencies by market cap and return market values in USD](https://pro-api.coinmarketcap.com/v1/cryptocurrency/listings/latest?start=1&limit=5000&convert=USD).
    \ \n  *Be sure to replace the API Key in sample code with your own and use API
    domain `pro-api.coinmarketcap.com` or use the test API Key `b54bcf4d-1bca-4e8e-9a24-22ff2c3d462c`
    for `sandbox-api.coinmarketcap.com` testing with our sandbox.coinmarketcap.com
    environment. Please note that our sandbox api has mock data and should not be
    used in your application.*\n4. **Implement your application.** Now that you've
    confirmed your API Key is working, get familiar with the API by reading the rest
    of this API Reference and commence building your application!\n\n***Note:** Making
    HTTP requests on the client side with Javascript is currently prohibited through
    CORS configuration. This is to protect your API Key which should not be visible
    to users of your application so your API Key is not stolen. Secure your API Key
    by routing calls through your own backend service.*\n\n<details open=\"open\">\n<summary>**View
    Quick Start Code Examples**</summary>\n<details open=\"open\">\n<summary>cURL
    command line</summary>\n```bash\n\ncurl -H \"X-CMC_PRO_API_KEY: b54bcf4d-1bca-4e8e-9a24-22ff2c3d462c\"
    -H \"Accept: application/json\" -d \"start=1&limit=5000&convert=USD\" -G https://pro-api.coinmarketcap.com/v1/cryptocurrency/listings/latest\n\n```
    \   \n</details><details>\n<summary>Node.js</summary>\n```javascript \n\n/* Example
    in Node.js ES6 using request-promise */\n\nconst rp = require('request-promise');\nconst
    requestOptions = {\n  method: 'GET',\n  uri: 'https://pro-api.coinmarketcap.com/v1/cryptocurrency/listings/latest',\n
    \ qs: {\n    'start': '1',\n    'limit': '5000',\n    'convert': 'USD'\n  },\n
    \ headers: {\n    'X-CMC_PRO_API_KEY': 'b54bcf4d-1bca-4e8e-9a24-22ff2c3d462c'\n
    \ },\n  json: true,\n  gzip: true\n};\n\nrp(requestOptions).then(response => {\n
    \ console.log('API call response:', response);\n}).catch((err) => {\n  console.log('API
    call error:', err.message);\n});\n\n```  \n</details><details>\n<summary>Python</summary>\n```python\n
    \ \n #This example uses Python 2.7 and the python-request library.\n\nfrom requests
    import Request, Session\nfrom requests.exceptions import ConnectionError, Timeout,
    TooManyRedirects\nimport json\n\nurl = 'https://pro-api.coinmarketcap.com/v1/cryptocurrency/listings/latest'\nparameters
    = {\n  'start':'1',\n  'limit':'5000',\n  'convert':'USD'\n}\nheaders = {\n  'Accepts':
    'application/json',\n  'X-CMC_PRO_API_KEY': 'b54bcf4d-1bca-4e8e-9a24-22ff2c3d462c',\n}\n\nsession
    = Session()\nsession.headers.update(headers)\n\ntry:\n  response = session.get(url,
    params=parameters)\n  data = json.loads(response.text)\n  print(data)\nexcept
    (ConnectionError, Timeout, TooManyRedirects) as e:\n  print(e)\n  \n```\n</details><details>\n<summary>PHP</summary>\n```php\n\n/**\n
    * Requires curl enabled in php.ini\n **/\n\n<?php\n$url = 'https://pro-api.coinmarketcap.com/v1/cryptocurrency/listings/latest';\n$parameters
    = [\n  'start' => '1',\n  'limit' => '5000',\n  'convert' => 'USD'\n];\n\n$headers
    = [\n  'Accepts: application/json',\n  'X-CMC_PRO_API_KEY: b54bcf4d-1bca-4e8e-9a24-22ff2c3d462c'\n];\n$qs
    = http_build_query($parameters); // query string encode the parameters\n$request
    = \"{$url}?{$qs}\"; // create the request URL\n\n\n$curl = curl_init(); // Get
    cURL resource\n// Set cURL options\ncurl_setopt_array($curl, array(\n  CURLOPT_URL
    => $request,            // set the request URL\n  CURLOPT_HTTPHEADER => $headers,
    \    // set the headers \n  CURLOPT_RETURNTRANSFER => 1         // ask for raw
    response instead of bool\n));\n\n$response = curl_exec($curl); // Send the request,
    save the response\nprint_r(json_decode($response)); // print json decoded response\ncurl_close($curl);
    // Close request\n?>\n\n```\n</details><details>\n<summary>Java</summary>\n```java\n\n/**
    \n * This example uses the Apache HTTPComponents library. \n */\n\nimport org.apache.http.HttpEntity;\nimport
    org.apache.http.HttpHeaders;\nimport org.apache.http.NameValuePair;\nimport org.apache.http.client.methods.CloseableHttpResponse;\nimport
    org.apache.http.client.methods.HttpGet;\nimport org.apache.http.client.utils.URIBuilder;\nimport
    org.apache.http.impl.client.CloseableHttpClient;\nimport org.apache.http.impl.client.HttpClients;\nimport
    org.apache.http.message.BasicNameValuePair;\nimport org.apache.http.util.EntityUtils;\n\nimport
    java.io.IOException;\nimport java.net.URISyntaxException;\nimport java.util.ArrayList;\nimport
    java.util.List;\n\npublic class JavaExample {\n\n  private static String apiKey
    = \"b54bcf4d-1bca-4e8e-9a24-22ff2c3d462c\";\n\n  public static void main(String[]
    args) {\n    String uri = \"https://pro-api.coinmarketcap.com/v1/cryptocurrency/listings/latest\";\n
    \   List<NameValuePair> paratmers = new ArrayList<NameValuePair>();\n    paratmers.add(new
    BasicNameValuePair(\"start\",\"1\"));\n    paratmers.add(new BasicNameValuePair(\"limit\",\"5000\"));\n
    \   paratmers.add(new BasicNameValuePair(\"convert\",\"USD\"));\n\n    try {\n
    \     String result = makeAPICall(uri, paratmers);\n      System.out.println(result);\n
    \   } catch (IOException e) {\n      System.out.println(\"Error: cannont access
    content - \" + e.toString());\n    } catch (URISyntaxException e) {\n      System.out.println(\"Error:
    Invalid URL \" + e.toString());\n    }\n  }\n\n  public static String makeAPICall(String
    uri, List<NameValuePair> parameters)\n      throws URISyntaxException, IOException
    {\n    String response_content = \"\";\n\n    URIBuilder query = new URIBuilder(uri);\n
    \   query.addParameters(parameters);\n\n    CloseableHttpClient client = HttpClients.createDefault();\n
    \   HttpGet request = new HttpGet(query.build());\n\n    request.setHeader(HttpHeaders.ACCEPT,
    \"application/json\");\n    request.addHeader(\"X-CMC_PRO_API_KEY\", apiKey);\n\n
    \   CloseableHttpResponse response = client.execute(request);\n\n    try {\n      System.out.println(response.getStatusLine());\n
    \     HttpEntity entity = response.getEntity();\n      response_content = EntityUtils.toString(entity);\n
    \     EntityUtils.consume(entity);\n    } finally {\n      response.close();\n
    \   }\n\n    return response_content;\n  }\n\n}\n\n```\n</details><details>\n<summary>C#</summary>\n```csharp\n\nusing
    System;\nusing System.Net;\nusing System.Web;\n\nclass CSharpExample\n{\n  private
    static string API_KEY = \"b54bcf4d-1bca-4e8e-9a24-22ff2c3d462c\";\n\n  public
    static void Main(string[] args)\n  {\n    try\n    {\n    Console.WriteLine(makeAPICall());\n
    \   }\n    catch (WebException e)\n    {\n    Console.WriteLine(e.Message);\n
    \   }\n  }\n\n  static string makeAPICall()\n  {\n    var URL = new UriBuilder(\"https://pro-api.coinmarketcap.com/v1/cryptocurrency/listings/latest\");\n\n
    \   var queryString = HttpUtility.ParseQueryString(string.Empty);\n    queryString[\"start\"]
    = \"1\";\n    queryString[\"limit\"] = \"5000\";\n    queryString[\"convert\"]
    = \"USD\";\n\n    URL.Query = queryString.ToString();\n\n    var client = new
    WebClient();\n    client.Headers.Add(\"X-CMC_PRO_API_KEY\", API_KEY);\n    client.Headers.Add(\"Accepts\",
    \"application/json\");\n    return client.DownloadString(URL.ToString());\n\n
    \ }\n\n}\n    \n```\n</details><details>\n<summary>Go</summary>\n```go\n\npackage
    main\n\nimport (\n  \"fmt\"\n  \"io/ioutil\"\n  \"log\"\n  \"net/http\"\n  \"net/url\"\n
    \ \"os\"\n)\n\nfunc main() {\n  client := &http.Client{}\n  req, err := http.NewRequest(\"GET\",\"https://pro-api.coinmarketcap.com/v1/cryptocurrency/listings/latest\",
    nil)\n  if err != nil {\n    log.Print(err)\n    os.Exit(1)\n  }\n\n  q := url.Values{}\n
    \ q.Add(\"start\", \"1\")\n  q.Add(\"limit\", \"5000\")\n  q.Add(\"convert\",
    \"USD\")\n\n  req.Header.Set(\"Accepts\", \"application/json\")\n  req.Header.Add(\"X-CMC_PRO_API_KEY\",
    \"b54bcf4d-1bca-4e8e-9a24-22ff2c3d462c\")\n  req.URL.RawQuery = q.Encode()\n\n\n
    \ resp, err := client.Do(req);\n  if err != nil {\n    fmt.Println(\"Error sending
    request to server\")\n    os.Exit(1)\n  }\n  fmt.Println(resp.Status);\n  respBody,
    _ := ioutil.ReadAll(resp.Body)\n  fmt.Println(string(respBody));\n\n}\n\n```\n</details></details>\n\n#
    Authentication\n\n### Acquiring an API Key\nAll HTTP requests made against the
    CoinMarketCap API must be validated with an API Key. If you don't have an API
    Key yet visit the [API Developer Portal](https://coinmarketcap.com/api/) to register
    for one.\n\n### Using Your API Key\nYou may use any *server side* programming
    language that can make HTTP requests to target the CoinMarketCap API. All requests
    should target domain `https://pro-api.coinmarketcap.com`.\n\nYou can supply your
    API Key in REST API calls in one of two ways:\n\n1. Preferred method: Via a custom
    header named `X-CMC_PRO_API_KEY`\n2. Convenience method: Via a query string parameter
    named `CMC_PRO_API_KEY`\n\n***Security Warning:** It's important to secure your
    API Key against public access. The custom header option is strongly recommended
    over the querystring option for passing your API Key in a production environment.*\n\n###
    API Key Usage Credits\n\nMost API plans include a daily and monthly limit or \"hard
    cap\" to the number of data calls that can be made. This usage is tracked as API
    \"call credits\" which are incremented 1:1 against successful (HTTP Status 200)
    data calls made with your key with these exceptions:\n- Account management endpoints,
    usage stats endpoints, and error responses are not included in this limit.  \n-
    **Paginated endpoints:** List-based endpoints track an additional call credit
    for every 100 data points returned (rounded up) beyond our 100 data point defaults.
    Our lightweight `/map` endpoints are not included in this limit and always count
    as 1 credit. See individual endpoint documentation for more details.   \n- **Bundled
    API calls:** Many endpoints support [resource and currency conversion bundling](#section/Standards-and-Conventions).
    Bundled resources are also tracked as 1 call credit for every 100 resources returned
    (rounded up). Optional currency conversion bundling using the `convert` parameter
    also increment an additional API call credit for every conversion requested beyond
    the first.\n\nYou can log in to the [Developer Portal](https://coinmarketcap.com/api/)
    to view live stats on your API Key usage and limits including the number of credits
    used for each call. You can also find call credit usage in the JSON response for
    each API call. See the [`status` object](#section/Standards-and-Conventions) for
    details. You may also use the [/key/info](#operation/getV1KeyInfo) endpoint to
    quickly review your usage and when daily/monthly credits reset directly from the
    API.  \n\n***Note:** \"day\" and \"month\" credit usage periods are defined relative
    to your API subscription. For example, if your monthly subscription started on
    the 5th at 5:30am, this billing anchor is also when your monthly credits refresh
    each month. The free Basic tier resets each day at UTC midnight and each calendar
    month at UTC midnight.*   \n\n# Endpoint Overview\n\n### The CoinMarketCap API
    is divided into 8 top-level categories\nEndpoint Category  | Description\n-------------------|---------------\n[/cryptocurrency/*](#tag/cryptocurrency)
    | Endpoints that return data around cryptocurrencies such as ordered cryptocurrency
    lists or price and volume data.\n[/exchange/*](#tag/exchange) | Endpoints that
    return data around cryptocurrency exchanges such as ordered exchange lists and
    market pair data.\n[/global-metrics/*](#tag/global-metrics) | Endpoints that return
    aggregate market data such as global market cap and BTC dominance.\n[/tools/*](#tag/tools)
    \ | Useful utilities such as cryptocurrency and fiat price conversions.\n[/blockchain/*](#tag/blockchain)
    \ | Endpoints that return block explorer related data for blockchains.\n[/fiat/*](#tag/fiat)
    | Endpoints that return data around fiats currencies including mapping to CMC
    IDs.\n[/partners/*](#tag/partners)  | Endpoints for convenient access to 3rd party
    crypto data.\n[/key/*](#tag/key)  | API key administration endpoints to review
    and manage your usage.\n\n### Endpoint paths follow a pattern matching the type
    of data provided\n\nEndpoint Path  | Endpoint Type | Description\n----------------------|-------------|---------\n*/latest
    | Latest Market Data | Latest market ticker quotes and averages for cryptocurrencies
    and exchanges.\n*/historical | Historical Market Data | Intervals of historic
    market data like OHLCV data or data for use in charting libraries.\n*/info | Metadata
    | Cryptocurrency and exchange metadata like block explorer URLs and logos.\n*/map
    | ID Maps | Utility endpoints to get a map of resources to CoinMarketCap IDs.\n\n###
    \ Cryptocurrency and exchange endpoints provide 2 different ways of accessing
    data depending on purpose\n\n- **Listing endpoints:** Flexible paginated `*/listings/*`
    endpoints allow you to sort and filter lists of data like cryptocurrencies by
    market cap or exchanges by volume.\n- **Item endpoints:** Convenient ID-based
    resource endpoints like `*/quotes/*` and `*/market-pairs/*` allow you to bundle
    several IDs; for example, this allows you to get latest market quotes for a specific
    set of cryptocurrencies in one call.\n\n# Standards and Conventions\n\nEach HTTP
    request must contain the header `Accept: application/json`. You should also send
    an `Accept-Encoding: deflate, gzip` header to receive data fast and efficiently.\n\n###
    Endpoint Response Payload Format\nAll endpoints return data in JSON format with
    the results of your query under `data` if the call is successful.\n\nA `Status`
    object is always included for both successful calls and failures when possible.
    The `Status` object always includes the current time on the server when the call
    was executed as `timestamp`, the number of API call credits this call utilized
    as `credit_count`, and the number of milliseconds it took to process the request
    as `elapsed`. Any details about errors encountered can be found under the `error_code`
    and `error_message`. See [Errors and Rate Limits](#section/Errors-and-Rate-Limits)
    for details on errors.\n\n```\n{\n  \"data\" : {\n    ...\n  },\n  \"status\":
    {\n    \"timestamp\": \"2018-06-06T07:52:27.273Z\",\n    \"error_code\": 400,\n
    \   \"error_message\": \"Invalid value for \\\"id\\\"\",\n    \"elapsed\": 0,\n
    \   \"credit_count\": 0\n  }\n}\n```\n\n### Cryptocurrency, Exchange, and Fiat
    currency identifiers\n- Cryptocurrencies may be identified in endpoints using
    either the cryptocurrency's unique CoinMarketCap ID as `id` (eg. `id=1` for Bitcoin)
    or the cryptocurrency's symbol (eg. `symbol=BTC` for Bitcoin). For a current list
    of supported cryptocurrencies use our [`/cryptocurrency/map` call](#operation/getV1CryptocurrencyMap).\n-
    Exchanges may be identified in endpoints using either the exchange's unique CoinMarketCap
    ID as `id` (eg. `id=270` for Binance) or the exchange's web slug (eg. `slug=binance`
    for Binance). For a current list of supported exchanges use our [`/exchange/map`
    call](#operation/getV1ExchangeMap).\n- All fiat currency options use the standard
    [ISO 8601](https://www.iso.org/iso-8601-date-and-time-format.html) currency code
    (eg. `USD` for the US Dollar). For a current list of supported fiat currencies
    use our [`/fiat/map`](#operation/getV1FiatMap) endpoint. Unless otherwise stated,
    endpoints with fiat currency options like our `convert` parameter support these
    93 major currency codes:\n\nCurrency | Currency Code | CoinMarketCap ID\n---------|---------------|-------------\nUnited
    States Dollar ($) | USD | 2781\nAlbanian Lek (L) | ALL | 3526\nAlgerian Dinar
    (د.ج) | DZD | 3537\nArgentine Peso ($) | ARS | 2821\nArmenian Dram (֏) | AMD |
    3527\nAustralian Dollar ($) | AUD | 2782\nAzerbaijani Manat (₼) | AZN | 3528\nBahraini
    Dinar (.د.ب) | BHD | 3531\nBangladeshi Taka (৳) | BDT | 3530\nBelarusian Ruble
    (Br) | BYN | 3533\nBermudan Dollar ($) | BMD | 3532\nBolivian Boliviano (Bs.)
    | BOB | 2832\nBosnia-Herzegovina Convertible Mark (KM) | BAM | 3529\nBrazilian
    Real (R$) | BRL | 2783\nBulgarian Lev (лв) | BGN | 2814\nCambodian Riel (៛) |
    KHR | 3549\nCanadian Dollar ($) | CAD | 2784\nChilean Peso ($) | CLP | 2786\nChinese
    Yuan (¥) | CNY | 2787\nColombian Peso ($) | COP | 2820\nCosta Rican Colón (₡)
    | CRC | 3534\nCroatian Kuna (kn) | HRK | 2815\nCuban Peso ($) | CUP | 3535\nCzech
    Koruna (Kč) | CZK | 2788\nDanish Krone (kr) | DKK | 2789\nDominican Peso ($) |
    DOP | 3536\nEgyptian Pound (£) | EGP | 3538\nEuro (€) | EUR | 2790\nGeorgian Lari
    (₾) | GEL | 3539\nGhanaian Cedi (₵) | GHS | 3540\nGuatemalan Quetzal (Q) | GTQ
    | 3541\nHonduran Lempira (L) | HNL | 3542\nHong Kong Dollar ($) | HKD | 2792\nHungarian
    Forint (Ft) | HUF | 2793\nIcelandic Króna (kr) | ISK | 2818\nIndian Rupee (₹)
    | INR | 2796\nIndonesian Rupiah (Rp) | IDR | 2794\nIranian Rial (﷼) | IRR | 3544\nIraqi
    Dinar (ع.د) | IQD | 3543\nIsraeli New Shekel (₪) | ILS | 2795\nJamaican Dollar
    ($) | JMD | 3545\nJapanese Yen (¥) | JPY | 2797\nJordanian Dinar (د.ا) | JOD |
    3546\nKazakhstani Tenge (₸) | KZT | 3551\nKenyan Shilling (Sh) | KES | 3547\nKuwaiti
    Dinar (د.ك) | KWD | 3550\nKyrgystani Som (с) | KGS | 3548\nLebanese Pound (ل.ل)
    | LBP | 3552\nMacedonian Denar (ден) | MKD | 3556\nMalaysian Ringgit (RM) | MYR
    | 2800\nMauritian Rupee (₨) | MUR | 2816\nMexican Peso ($) | MXN | 2799\nMoldovan
    Leu (L) | MDL | 3555\nMongolian Tugrik (₮) | MNT | 3558\nMoroccan Dirham (د.م.)
    | MAD | 3554\nMyanma Kyat (Ks) | MMK | 3557\nNamibian Dollar ($) | NAD | 3559\nNepalese
    Rupee (₨) | NPR | 3561\nNew Taiwan Dollar (NT$) | TWD | 2811\nNew Zealand Dollar
    ($) | NZD | 2802\nNicaraguan Córdoba (C$) | NIO | 3560\nNigerian Naira (₦) | NGN
    | 2819\nNorwegian Krone (kr) | NOK | 2801\nOmani Rial (ر.ع.) | OMR | 3562\nPakistani
    Rupee (₨) | PKR | 2804\nPanamanian Balboa (B/.) | PAB | 3563\nPeruvian Sol (S/.)
    | PEN | 2822\nPhilippine Peso (₱) | PHP | 2803\nPolish Złoty (zł) | PLN | 2805\nPound
    Sterling (£) | GBP | 2791\nQatari Rial (ر.ق) | QAR | 3564\nRomanian Leu (lei)
    | RON | 2817\nRussian Ruble (₽) | RUB | 2806\nSaudi Riyal (ر.س) | SAR | 3566\nSerbian
    Dinar (дин.) | RSD | 3565\nSingapore Dollar (S$) | SGD | 2808\nSouth African Rand
    (R) | ZAR | 2812\nSouth Korean Won (₩) | KRW | 2798\nSouth Sudanese Pound (£)
    | SSP | 3567\nSovereign Bolivar (Bs.) | VES | 3573\nSri Lankan Rupee (Rs) | LKR
    | 3553\nSwedish Krona (  kr) | SEK | 2807\nSwiss Franc (Fr) | CHF | 2785\nThai
    Baht (฿) | THB | 2809\nTrinidad and Tobago Dollar ($) | TTD | 3569\nTunisian Dinar
    (د.ت) | TND | 3568\nTurkish Lira (₺) | TRY | 2810\nUgandan Shilling (Sh) | UGX
    | 3570\nUkrainian Hryvnia (₴) | UAH | 2824\nUnited Arab Emirates Dirham (د.إ)
    | AED | 2813\nUruguayan Peso ($) | UYU | 3571\nUzbekistan Som (so'm) | UZS | 3572\nVietnamese
    Dong (₫) | VND | 2823\n  \nAlong with these four precious metals:\n  \nPrecious
    Metal | Currency Code | CoinMarketCap ID\n---------|---------------|-------------\nGold
    Troy Ounce | XAU | 3575\nSilver Troy Ounce | XAG | 3574\nPlatinum Ounce | XPT
    | 3577\nPalladium Ounce | XPD | 3576\n \n***Warning:** **Using CoinMarketCap IDs
    is always recommended as not all cryptocurrency symbols are unique. They can also
    change with a cryptocurrency rebrand.** If a symbol is used the API will always
    default to the cryptocurrency with the highest market cap if there are multiple
    matches. Our `convert` parameter also defaults to fiat if a cryptocurrency symbol
    also matches a supported fiat currency. You may use the convenient `/map` endpoints
    to quickly find the corresponding CoinMarketCap ID for a cryptocurrency or exchange.*\n\n###
    Bundling API Calls\n- Many endpoints support ID and crypto/fiat currency conversion
    bundling. This means you can pass multiple comma-separated values to an endpoint
    to query or convert several items at once. Check the `id`, `symbol`, `slug`, and
    `convert` query parameter descriptions in the endpoint documentation to see if
    this is supported for an endpoint.\n- Endpoints that support bundling return data
    as an object map instead of an array. Each key-value pair will use the identifier
    you passed in as the key.\n\nFor example, if you passed `symbol=BTC,ETH` to `/v1/cryptocurrency/quotes/latest`
    you would receive:\n\n```\n\"data\" : {\n    \"BTC\" : {\n      ...\n    },\n
    \   \"ETH\" : {\n      ...\n    }\n}\n```\n\nOr if you passed `id=1,1027` you
    would receive:\n\n```\n\"data\" : {\n    \"1\" : {\n      ...\n    },\n    \"1027\"
    : {\n      ...\n    }\n}\n```\n\nPrice conversions that are returned inside endpoint
    responses behave in the same fashion. These are enclosed in a `quote` object.\n\n###
    Date and Time Formats\n- All endpoints that require date/time parameters allow
    timestamps to be passed in either [ISO 8601](https://www.iso.org/iso-8601-date-and-time-format.html)
    format (eg. `2018-06-06T01:46:40Z`) or in Unix time (eg. `1528249600`). Timestamps
    that are passed in ISO 8601 format support basic and extended notations; if a
    timezone is not included, UTC will be the default.\n- All timestamps returned
    in JSON payloads are returned in UTC time using human-readable ISO 8601 format
    which follows this pattern: `yyyy-mm-ddThh:mm:ss.mmmZ`. The final `.mmm` designates
    milliseconds. Per the ISO 8601 spec the final `Z` is a constant that represents
    UTC time.\n- Data is collected, recorded, and reported in UTC time unless otherwise
    specified.\n\n### Versioning\nThe CoinMarketCap API is versioned to guarantee
    new features and updates are non-breaking. The latest version of this API is `/v1/`.\n\n#
    Errors and Rate Limits\n\n### API Request Throttling\nUse of the CoinMarketCap
    API is subject to API call rate limiting or \"request throttling\". This is the
    number of HTTP calls that can be made simultaneously or within the same minute
    with your API Key before receiving an HTTP 429 \"Too Many Requests\" throttling
    error. This limit scales with the <a rel=\"noopener noreferrer\" href=\"https://pro.coinmarketcap.com/features\"
    target=\"_blank\">usage tier</a> and resets every 60 seconds. Please review our
    <a rel=\"noopener noreferrer\" href=\"#section/Best-Practices\" target=\"_blank\">Best
    Practices</a> for implementation strategies that work well with rate limiting.\n\n###
    HTTP Status Codes\nThe API uses standard HTTP status codes to indicate the success
    or failure of an API call.\n\n- `400 (Bad Request)` The server could not process
    the request, likely due to an invalid argument.\n- `401 (Unauthorized)` Your request
    lacks valid authentication credentials, likely an issue with your API Key.\n-
    `402 (Payment Required)` Your API request was rejected due to it being a paid
    subscription plan with an overdue balance. Pay the balance in the [Developer Portal
    billing tab](https://pro.coinmarketcap.com/account/plan) and it will be enabled.\n-
    `403 (Forbidden)` Your request was rejected due to a permission issue, likely
    a restriction on the API Key's associated service plan. Here is a [convenient
    map](https://coinmarketcap.com/api/features) of service plans to endpoints.\n-
    `429 (Too Many Requests)` The API Key's rate limit was exceeded; consider slowing
    down your API Request frequency if this is an HTTP request throttling error. Consider
    upgrading your service plan if you have reached your monthly API call credit limit
    for the day/month.\n- `500 (Internal Server Error)` An unexpected server issue
    was encountered.\n\n### Error Response Codes\nA `Status` object is always included
    in the JSON response payload for both successful calls and failures when possible.
    During error scenarios you may reference the `error_code` and `error_message`
    properties of the Status object. One of the API error codes below will be returned
    if applicable otherwise the HTTP status code for the general error type is returned.\n
    \  \nHTTP Status | Error Code | Error Message\n------------|----------------|-------------\n401
    | 1001 [API_KEY_INVALID] | This API Key is invalid.\n401 | 1002 [API_KEY_MISSING]
    | API key missing.\n402 | 1003 [API_KEY_PLAN_REQUIRES_PAYEMENT] | Your API Key
    must be activated. Please go to pro.coinmarketcap.com/account/plan.\n402 | 1004
    [API_KEY_PLAN_PAYMENT_EXPIRED] | Your API Key's subscription plan has expired.\n403
    | 1005 [API_KEY_REQUIRED] | An API Key is required for this call.\n403 | 1006
    [API_KEY_PLAN_NOT_AUTHORIZED] | Your API Key subscription plan doesn't support
    this endpoint.\n403 | 1007 [API_KEY_DISABLED] | This API Key has been disabled.
    Please contact support.\n429 | 1008 [API_KEY_PLAN_MINUTE_RATE_LIMIT_REACHED] |
    You've exceeded your API Key's HTTP request rate limit. Rate limits reset every
    minute.\n429 | 1009 [API_KEY_PLAN_DAILY_RATE_LIMIT_REACHED] | You've exceeded
    your API Key's daily rate limit.\n429 | 1010 [API_KEY_PLAN_MONTHLY_RATE_LIMIT_REACHED]
    | You've exceeded your API Key's monthly rate limit.\n429 | 1011 [IP_RATE_LIMIT_REACHED]
    | You've hit an IP rate limit.\n  \n# Best Practices\n\nThis section contains
    a few recommendations on how to efficiently utilize the CoinMarketCap API for
    your enterprise application, particularly if you already have a large base of
    users for your application.\n\n### Use CoinMarketCap ID Instead of Cryptocurrency
    Symbol\n\nUtilizing common cryptocurrency symbols to reference cryptocurrencies
    on the API is easy and convenient but brittle. You should know that many cryptocurrencies
    have the same symbol, for example, there are currently three cryptocurrencies
    that commonly refer to themselves by the symbol HOT. Cryptocurrency symbols also
    often change with cryptocurrency rebrands. When fetching cryptocurrency by a symbol
    that matches several active cryptocurrencies we return the one with the highest
    market cap at the time of the query. To ensure you always target the cryptocurrency
    you expect, use our permanent CoinMarketCap IDs. These IDs are used reliably by
    numerous mission critical platforms and *never change*.  \n  \nWe make fetching
    a map of all active cryptocurrencies' CoinMarketCap IDs very easy. Just call our
    [`/cryptocurrency/map`](#operation/getV1CryptocurrencyMap) endpoint to receive
    a list of all active currencies mapped to the unique `id` property. This map also
    includes other typical identifiying properties like `name`, `symbol` and platform
    `token_address` that can be cross referenced. In cryptocurrency calls you would
    then send, for example `id=1027`, instead of `symbol=ETH`. **It's strongly recommended
    that any production code utilize these IDs for cryptocurrencies, exchanges, and
    markets to future-proof your code.** \n\n### Use the Right Endpoints for the Job\n\nYou
    may have noticed that `/cryptocurrency/listings/latest` and `/cryptocurrency/quotes/latest`
    return the same crypto data but in different formats. This is because the former
    is for requesting paginated and ordered lists of *all* cryptocurrencies while
    the latter is for selectively requesting only the specific cryptocurrencies you
    require. Many endpoints follow this pattern, allow the design of these endpoints
    to work for you!\n\n### Implement a Caching Strategy If Needed\n\nThere are standard
    legal data safeguards built into the <a rel=\"noopener noreferrer\" href=\"https://pro.coinmarketcap.com/user-agreement-commercial\"
    target=\"_blank\">Commercial User Terms</a> that application developers should
    keep in mind. These Terms help prevent unauthorized scraping and redistributing
    of CMC data but are intentionally worded to allow legitimate local caching of
    market data to support the operation of your application. If your application
    has a significant user base and you are concerned with staying within the call
    credit and API throttling limits of your subscription plan consider implementing
    a data caching strategy.\n\nFor example instead of making a `/cryptocurrency/quotes/latest`
    call every time one of your application's users needs to fetch market rates for
    specific cryptocurrencies, you could pre-fetch and cache the latest market data
    for every cryptocurrency in your application's local database every 60 seconds.
    This would only require 1 API call, `/cryptocurrency/listings/latest?limit=5000`,
    every 60 seconds. Then, anytime one of your application's users need to load a
    custom list of cryptocurrencies you could simply pull this latest market data
    from your local cache without the overhead of additional calls. This kind of optimization
    is practical for customers with large, demanding user bases.\n\n###  Code Defensively
    to Ensure a Robust REST API Integration\n\nWhenever implementing any high availability
    REST API service for mission critical operations it's recommended to <a rel=\"noopener
    noreferrer\" href=\"https://en.wikipedia.org/wiki/Defensive_programming\" target=\"_blank\">code
    defensively</a>. Since the API is versioned, any breaking request or response
    format change would only be introduced through new versions of each endpoint,
    *however existing endpoints may still introduce new convenience properties over
    time*. \n\nWe suggest these best practices:\n\n- You should parse the API response
    JSON as JSON and not through a regular expression or other means to avoid brittle
    parsing logic.\n- Your parsing code should explicitly parse only the response
    properties you require to guarantee new fields that may be returned in the future
    are ignored. \n- You should add robust field validation to your response parsing
    logic. You can wrap complex field parsing, like dates, in try/catch statements
    to minimize the impact of unexpected parsing issues (like the unlikely return
    of a null value). \n- Implement a \"Retry with exponential backoff\" coding pattern
    for your REST API call logic. This means if your HTTP request happens to get rate
    limited (HTTP 429) or encounters an unexpected server-side condition (HTTP 5xx)
    your code would automatically recover and try again using an intelligent recovery
    scheme. You may use one of the many libraries available; for example, <a rel=\"noopener
    noreferrer\" target=\"_blank\" href=\"https://github.com/tim-kos/node-retry\">this
    one</a> for Node or <a rel=\"noopener noreferrer\" target=\"_blank\" href=\"https://github.com/litl/backoff\">this
    one</a> for Python.\n\n### Reach Out and Upgrade Your Plan\n\nIf you're uncertain
    how to best implement the CoinMarketCap API in your application or your needs
    outgrow our current self-serve subscription tiers you can reach out to api@coinmarketcap.com.
    We'll review your needs and budget and may be able to tailor a custom enterprise
    plan that is right for you.  \n\n# Version History\n    \nThe CoinMarketCap API
    utilizes <a rel=\"noopener noreferrer\" href=\"https://semver.org/\" target=\"_blank\">Semantic
    Versioning</a> in the format `major.minor.patch`. The current `major` version
    is incorporated into the API request path as `/v1/`. Non-breaking `minor` and
    `patch` updates to the API are released regularly. These may include new endpoints,
    data points, and API plan features which are always introduced in a non-breaking
    manner. *This means you can expect new properties to become available in our existing
    /v1/ endpoints however any breaking change will be introduced under a new major
    version of the API with legacy versions supported indefinitely unless otherwise
    stated*.  \n  \nYou can [subscribe to our API Newsletter](/#newsletter-signup)
    to get monthly email updates on CoinMarketCap API enhancements.\n\n\n### v2.0.4
    on October 11, 2021\n\n- [/v1/cryptocurrency/listings/latest](#operation/getV1CryptocurrencyListingsLatest)
    now includes `volume_change_24h`.\n- [/v1/cryptocurrency/quotes/latest](#operation/getV2CryptocurrencyQuotesLatest)
    now includes `volume_change_24h`.\n\n### v2.0.3 on October 6, 2021\n\n- [/v1/cryptocurrency/trending/latest](#operation/getV1CryptocurrencyTrendingLatest)
    now supports `time_period` as an optional parameter.\n\n### v2.0.2 on September
    13, 2021\n\n- [/exchange/map](#operation/getV1ExchangeMap) now available to Free
    tier users.\n- [/exchange/info](#operation/getV1ExchangeInfo) now available to
    Free tier users.\n\n### v2.0.1 on September 8, 2021\n\n- [/exchange/market-pairs/latest](#operation/getV1ExchangeMarketpairsLatest)
    now includes `volume_24h`, `depth_negative_two`, `depth_positive_two` and `volume_percentage`.\n-
    [/exchange/listings/latest](#operation/getV1ExchangeListingsLatest) now includes
    `open_interest`.\n### v2.0.0 on August 17, 2021\n\n- By popular request we have
    added a number of new useful endpoints !\n- [/v1/cryptocurrency/categories](#operation/getV1CryptocurrencyCategories)
    can be used to access a list of categories and their associated coins. You can
    also filter the list of categories by one or more cryptocurrencies.\n- [/v1/cryptocurrency/category](#operation/getV1CryptocurrencyCategory)
    can be used to load only a single category of coins, listing the coins within
    that category.\n- [/v1/cryptocurrency/airdrops](#operation/getV1CryptocurrencyAirdrops)
    can be used to access a list of CoinMarketCap’s free airdrops. This defaults to
    a status of `ONGOING` but can be filtered to `UPCOMING` or `ENDED`. You can also
    query for a list of airdrops by cryptocurrency.\n- [/v1/cryptocurrency/airdrop](#operation/getV1CryptocurrencyAirdrop)
    can be used to load a single airdrop and its associated cryptocurrency.\n- [/v1/cryptocurrency/trending/latest](#operation/getV1CryptocurrencyTrendingLatest)
    can be used to load the most searched for cryptocurrencies within a period of
    time. This defaults to a `time_period` of the previous `24h`, but can be changed
    to `30d`, or `7d` for a larger window of time.\n- [/v1/cryptocurrency/trending/most-visited](#operation/getV1CryptocurrencyTrendingMostvisited)
    can be used to load the most visited cryptocurrencies within a period of time.
    This defaults to a `time_period` of the previous `24h`, but can be changed to
    `30d`, or `7d` for a larger window of time.\n- [/v1/cryptocurrency/trending/gainers-losers](#operation/getV1CryptocurrencyTrendingGainerslosers)
    can be used to load the biggest gainers & losers within a period of time. This
    defaults to a `time_period` of the previous `24h`, but can be changed to `30d`,
    or `7d` for a larger window of time.\n\n### v1.28.0 on August 9, 2021\n  \n- [/v1/cryptocurrency/listings/latest](#operation/getV1CryptocurrencyListingsLatest)
    now includes `market_cap_dominance` and `fully_diluted_market_cap`.\n- [/v1/cryptocurrency/quotes/latest](#operation/getV2CryptocurrencyQuotesLatest)
    now includes `market_cap_dominance` and `fully_diluted_market_cap`.\n\n### v1.27.0
    on January 27, 2021\n  \n- [/v2/cryptocurrency/info](#operation/getV2CryptocurrencyInfo)
    response format changed to allow for multiple coins per symbol.\n- [/v2/cryptocurrency/market-pairs/latest](#operation/getV2CryptocurrencyMarketpairsLatest)
    response format changed to allow for multiple coins per symbol.\n- [/v2/cryptocurrency/quotes/historical](#operation/getV2CryptocurrencyQuotesHistorical)
    response format changed to allow for multiple coins per symbol.\n- [/v2/cryptocurrency/ohlcv/historical](#operation/getV2CryptocurrencyOhlcvHistorical)
    response format changed to allow for multiple coins per symbol.\n- [/v2/tools/price-conversion](#operation/getV2ToolsPriceconversion)
    response format changed to allow for multiple coins per symbol.\n- [/v2/cryptocurrency/ohlcv/latest](#operation/getV2CryptocurrencyOhlcvLatest)
    response format changed to allow for multiple coins per symbol.\n- [/v2/cryptocurrency/price-performance-stats/latest](#operation/getV2CryptocurrencyPriceperformancestatsLatest)
    response format changed to allow for multiple coins per symbol.\n\n### v1.26.0
    on January 21, 2021\n  \n- [/v2/cryptocurrency/quotes/latest](#operation/getV2CryptocurrencyQuotesLatest)
    response format changed to allow for multiple coins per symbol.\n\n### v1.25.0
    on April 17, 2020\n  \n- [/v1.1/cryptocurrency/listings/latest](#operation/getV1CryptocurrencyListingsLatest)
    now includes a more robust `tags` response with slug, name, and category.\n- [/cryptocurrency/quotes/historical](#operation/getV1CryptocurrencyQuotesHistorical)
    and [/cryptocurrency/quotes/latest](#operation/getV1CryptocurrencyQuotesLatest)
    now include `is_active` and `is_fiat` in the response.\n\n### v1.24.0 on Feb 24,
    2020\n  \n- [/cryptocurrency/ohlcv/historical](#operation/getV1CryptocurrencyOhlcvHistorical)
    has been modified to include the high and low timestamps.\n- [/exchange/market-pairs/latest](#operation/getV1ExchangeMarketpairsLatest)
    now includes `category` and `fee_type` market pair filtering options.\n- [/cryptocurrency/listings/latest](#operation/getV1CryptocurrencyListingsLatest)
    now includes `category` and `fee_type` market pair filtering options.\n\n### v1.23.0
    on Feb 3, 2020\n  \n- [/fiat/map](#operation/getV1FiatMap) is now available to
    fetch the latest mapping of supported fiat currencies to CMC IDs.\n- [/exchange/market-pairs/latest](#operation/getV1ExchangeMarketpairsLatest)
    now includes `matched_id` and `matched_symbol` market pair filtering options.\n-
    [/cryptocurrency/listings/latest](#operation/getV1CryptocurrencyListingsLatest)
    now provides filter parameters `price_min`, `price_max`, `market_cap_min`, `market_cap_max`,
    `percent_change_24h_min`, `percent_change_24h_max`, `volume_24h_max`, `circulating_supply_min`
    and `circulating_supply_max` in addition to the existing `volume_24h_min` filter.\n
    \ \n### v1.22.0 on Oct 16, 2019\n  \n- [/global-metrics/quotes/latest](#operation/getV1GlobalmetricsQuotesLatest)
    now additionally returns `total_cryptocurrencies` and `total_exchanges` counts
    which include inactive projects who's data is still available via API.  \n  \n###
    v1.21.0 on Oct 1, 2019\n  \n- [/exchange/map](#operation/getV1ExchangeMap) now
    includes `sort` options including `volume_24h`.\n- [/cryptocurrency/map](#operation/getV1CryptocurrencyMap)
    fix for a scenario where `first_historical_data` and `last_historical_data` may
    not be populated.\n- Additional improvements to alphanumeric sorts.\n  \n### v1.20.0
    on Sep 25, 2019\n \n- By popular request you may now configure API plan usage
    notifications and email alerts in the [Developer Portal](https://pro.coinmarketcap.com/account/notifications).\n-
    [/cryptocurrency/map](#operation/getV1CryptocurrencyMap) now includes `sort` options
    including `cmc_rank`.  \n  \n### v1.19.0 on Sep 19, 2019\n  \n- A new `/blockchain/`
    category of endpoints is now available with the introduction of our new [/v1/blockchain/statistics/latest](#operation/getV1BlockchainStatisticsLatest)
    endpoint. This endpoint can be used to poll blockchain statistics data as seen
    in our <a target=\"_blank\" href=\"https://blockchain.coinmarketcap.com/chain/bitcoin\">Blockchain
    Explorer</a>.\n- Additional platform error codes are now surfaced during HTTP
    Status Code 401, 402, 403, and 429 scenarios as documented in [Errors and Rate
    Limits](#section/Errors-and-Rate-Limits).\n- OHLCV endpoints using the `convert`
    option now match historical UTC open period exchange rates with greater accuracy.\n-
    [/cryptocurrency/info](#operation/getV1CryptocurrencyInfo) and [/exchange/info](#operation/getV1ExchangeInfo)
    now include the optional `aux` parameter where listing `status` can be requested
    in the list of supplemental properties.\n- [/cryptocurrency/listings/latest](#operation/getV1CryptocurrencyListingsLatest)
    and [/cryptocurrency/quotes/latest](#operation/getV1CryptocurrencyQuotesLatest):
    The accuracy of `percent_change_` conversions was improved when passing non-USD
    fiat `convert` options.\n- [/cryptocurrency/ohlcv/historical](#operation/getV1CryptocurrencyOhlcvHistorical)
    and [/cryptocurrency/quotes/latest](#operation/getV1CryptocurrencyQuotesLatest)
    now support relaxed request validation rules via the `skip_invalid` request parameter.\n-
    We also now return a helpful `notice` warning when API key usage is above 95%
    of daily and monthly API credit usage limits.\n  \n### v1.18.0 on Aug 28, 2019\n
    \ \n- [/key/info](#operation/getV1KeyInfo) has been added as a new endpoint. It
    may be used programmatically monitor your key usage compared to the rate limit
    and daily/monthly credit limits available to your API plan as an alternative to
    using the [Developer Portal Dashboard](https://pro.coinmarketcap.com/account).
    \ \n- [/cryptocurrency/quotes/historical](#operation/getV1CryptocurrencyQuotesHistorical)
    and [/v1/global-metrics/quotes/historical](#operation/getV1GlobalmetricsQuotesHistorical)
    have new options to make charting tasks easier and more efficient. Use the new
    `aux` parameter to cut out response properties you don't need and include the
    new `search_interval` timestamp to normalize disparate historical records against
    the same `interval` time periods.\n- A 4 hour interval option `4h` was added to
    all historical time series data endpoints.\n    \n### v1.17.0 on Aug 22, 2019\n
    \ \n- [/cryptocurrency/price-performance-stats/latest](#operation/getV1CryptocurrencyPriceperformancestatsLatest)
    has been added as our 21st endpoint! It returns launch price ROI, all-time high
    / all-time low, and other price stats over several supported time periods.\n-
    [/cryptocurrency/market-pairs/latest](#operation/getV1CryptocurrencyMarketpairsLatest)
    now has the ability to filter all active markets for a cryptocurrency to specific
    base/quote pairs. Want to return only `BTC/USD` and `BTC/USDT` markets? Just pass
    `?symbol=BTC&matched_symbol=USD,USDT` or `?id=1&matched_id=2781,825`.  \n- [/cryptocurrency/market-pairs/latest](#operation/getV1CryptocurrencyMarketpairsLatest)
    now features `sort` options including `cmc_rank` to reproduce the <a target=\"_blank\"
    href=\"https://coinmarketcap.com/methodology/\">methodology</a> based sort on
    pages like <a rel=\"noopener noreferrer\" href=\"https://coinmarketcap.com/currencies/bitcoin/#markets\"
    target=\"_blank\">Bitcoin Markets</a>. \n- [/cryptocurrency/market-pairs/latest](#operation/getV1CryptocurrencyMarketpairsLatest)
    can now return any exchange level CMC notices affecting a market via the new `notice`
    `aux` parameter.  \n- [/cryptocurrency/quotes/latest](#operation/getV1CryptocurrencyQuotesLatest)
    will now continue to return the last updated price data for cryptocurrency that
    have transitioned to an `inactive` state instead of returning an HTTP 400 error.
    These active coins that have gone inactive can easily be identified as having
    a `num_market_pairs` of `0` and a stale `last_updated` date.\n- [/exchange/info](#operation/getV1ExchangeInfo)
    now includes a brief text summary for most exchanges as `description`.  \n\n###
    v1.16.0 on Aug 9, 2019\n\n- We've introduced a new [partners](#tag/partners) category
    of endpoints for convenient access to 3rd party crypto data. <a rel=\"noopener
    noreferrer\" href=\"https://www.flipsidecrypto.com/\" target=\"_blank\">FlipSide
    Crypto</a>'s <a rel=\"noopener noreferrer\" href=\"https://www.flipsidecrypto.com/fcas-explained\"
    target=\"_blank\">Fundamental Crypto Asset Score</a> (FCAS) is now available as
    the first partner integration.  \n- [/cryptocurrency/listings/latest](#operation/getV1CryptocurrencyListingsLatest)
    now provides a `volume_24h_min` filter parameter. It can be used when a threshold
    of volume is required like in our <a target=\"_blank\" href=\"https://coinmarketcap.com/gainers-losers/\">Biggest
    Gainers and Losers</a> lists.\n- [/cryptocurrency/listings/latest](#operation/getV1CryptocurrencyListingsLatest)
    and [/cryptocurrency/quotes/latest](#operation/getV1CryptocurrencyQuotesLatest)
    can now return rolling `volume_7d` and `volume_30d` via the supplemental `aux`
    parameter and sort options by these fields. \n- `volume_24h_reported`, `volume_7d_reported`,
    `volume_30d_reported`, and `market_cap_by_total_supply` are also now available
    through the `aux` parameter with an additional sort option for the latter.\n-
    [/cryptocurrency/market-pairs/latest](#operation/getV1CryptocurrencyMarketpairsLatest)
    can now provide market price relative to the quote currency. Just pass `price_quote`
    to the supplemental `aux` parameter. This can be used to display consistent price
    data for a cryptocurrency across several markets no matter if it is the base or
    quote in each pair as seen in our <a target=\"_blank\" href=\"https://coinmarketcap.com/currencies/bitcoin/#markets\">Bitcoin
    markets</a> price column.\n- When requesting a custom `sort` on our list based
    endpoints, numeric fields like `percent_change_7d` now conveniently return non-applicable
    `null` values last regardless of sort order. \n\n### v1.15.0 on Jul 10, 2019\n\n-
    [/cryptocurrency/map](#operation/getV1CryptocurrencyMap) and [/v1/exchange/map](#operation/getV1ExchangeMap)
    now expose a 3rd listing state of `untracked` between `active` and `inactive`
    as outlined in our <a target=\"_blank\" href=\"https://coinmarketcap.com/methodology/\">methodology</a>.
    See endpoint documentation for additional details.    \n- [/cryptocurrency/quotes/historical](#operation/getV1CryptocurrencyQuotesHistorical),
    [/cryptocurrency/ohlcv/historical](#operation/getV1CryptocurrencyOhlcvHistorical),
    and [/exchange/quotes/latest](#operation/getV1ExchangeQuotesLatest) now support
    fetching multiple cryptocurrencies and exchanges in the same call.\n- [/global-metrics/quotes/latest](#operation/getV1GlobalmetricsQuotesLatest)
    now updates more frequently, every minute. It aslo now includes `total_volume_24h_reported`,
    `altcoin_volume_24h`, `altcoin_volume_24h_reported`, and `altcoin_market_cap`.
    \n- [/global-metrics/quotes/historical](#operation/getV1GlobalmetricsQuotesHistorical)
    also includes these new dimensions along with historical `active_cryptocurrencies`,
    `active_exchanges`, and `active_market_pairs` counts. \n- We've also added a new
    `aux` auxiliary parameter to many endpoints which can be used to customize your
    request. You may request new supplemental data properties that are not returned
    by default or slim down your response payload by excluding default `aux` fields
    you don't need in endpoints like [/cryptocurrency/listings/latest](#operation/getV1CryptocurrencyListingsLatest).
    [/cryptocurrency/market-pairs/latest](#operation/getV1CryptocurrencyMarketpairsLatest)
    and [/exchange/market-pairs/latest](#operation/getV1ExchangeMarketpairsLatest)
    can now supply `market_url`, `currency_name`, and `currency_slug` for each market
    using this new parameter. [/exchange/listings/latest](#operation/getV1ExchangeListingsLatest)
    can now include the exchange `date_launched`.    \n    \n### v1.14.1 on Jun 14,
    2019 - DATA: Phase 1 methodology updates\n  \nPer our <a target=\"_blank\" href=\"https://blog.coinmarketcap.com/2019/05/01/happy-6th-birthday-data-alliance-block-explorers-and-more/\">May
    1 announcement</a> of the Data Accountability & Transparency Alliance (<a target=\"_blank\"
    href=\"https://coinmarketcap.com/data-transparency-alliance/\">DATA</a>), a platform
    <a target=\"_blank\" href=\"https://coinmarketcap.com/methodology/\">methodology</a>
    update was published. No API changes are required but users should take note:\n\n-
    Exchanges that are not compliant with mandatory transparency requirements (Ability
    to surface live trade and order book data) will be excluded from VWAP price and
    volume calculations returned from our `/cryptocurrency/` and `/global-metrics/`
    endpoints going forward.\n- These exchanges will also return a `volume_24h_adjusted`
    value of 0 from our `/exchange/` endpoints like the exclusions based on market
    category and fee type. Stale markets (24h or older) will also be excluded. All
    exchanges will continue to return `exchange_reported` values as reported.  \n-
    We welcome you to <a target=\"_blank\" href=\"https://coinmarketcap.com/data-transparency-alliance/\">learn
    more about the DATA alliance and become a partner</a>. \n  \n### v1.14.0 on Jun
    3, 2019\n\n- [/cryptocurrency/info](#operation/getV1CryptocurrencyInfo) now include
    up to 5 block explorer URLs for each cryptocurrency including our brand new <a
    target=\"_blank\" href=\"https://blockchain.coinmarketcap.com\">Bitcoin and Ethereum
    Explorers</a>.\n- [/cryptocurrency/info](#operation/getV1CryptocurrencyInfo) now
    provides links to most cryptocurrency white papers and technical documentation!
    Just reference the `technical_doc` array.\n- [/cryptocurrency/info](#operation/getV1CryptocurrencyInfo)
    now returns a `notice` property that may highlight a significant event or condition
    that is impacting the cryptocurrency or how it is displayed. See the endpoint
    property description for more details. \n- [/exchange/info](#operation/getV1ExchangeInfo)
    also includes a `notice` property. This one may highlight a condition that is
    impacting the availability of an exchange's market data or the use of the exchange.
    See the endpoint property description for more details. \n- [/exchange/info](#operation/getV1ExchangeInfo)
    now includes the official launch date for each exchange as `date_launched`.\n-
    [/cryptocurrency/market-pairs/latest](#operation/getV1CryptocurrencyMarketpairsLatest)
    and [/exchange/market-pairs/latest](#operation/getV1ExchangeMarketpairsLatest)
    now include market `category` (Spot, Derivatives, or OTC) and `fee_type` (Percentage,
    No Fees, Transactional Mining, or Unknown) for every market returned.\n- [/cryptocurrency/market-pairs/latest](#operation/getV1CryptocurrencyMarketpairsLatest)
    now supports querying by cryptocurrency `slug`.\n- [/cryptocurrency/listings/latest](#operation/getV1CryptocurrencyListingsLatest)
    now includes a `market_cap_strict` sort option to apply a strict numeric sort
    on this field.  \n\n### v1.13.0 on May 17, 2019\n\n- You may now leverage CoinMarketCap
    IDs for currency `quote` conversions across all endpoints! Just utilize the new
    `convert_id` parameter instead of the `convert` parameter. Learn more about creating
    robust integrations with CMC IDs in our [Best Practices](#section/Best-Practices).\n-
    We've updated requesting cryptocurrencies by `slug` to support legacy names from
    past cryptocurrency rebrands. For example, a request to `/cryptocurrency/quotes/latest?slug=antshares`
    successfully returns the cryptocurrency by current slug `neo`.\n- We've extended
    the brief text summary included as `description` in [/cryptocurrency/info](#operation/getV1CryptocurrencyInfo)
    to now cover all cryptocurrencies!\n- We've added the fetch-by-slug option to
    [/cryptocurrency/ohlcv/historical](#operation/getV1CryptocurrencyOhlcvHistorical).\n-
    Premium subscription users: On your next billing period we'll conveniently switch
    to displaying monthly/daily credit usage relative to your monthly billing period
    instead of calendar month and UTC midnight. Click the `?` on our updated <a rel=\"noopener
    noreferrer\" target=\"_blank\" href=\"https://pro.coinmarketcap.com/account\">API
    Key Usage</a> panel for more details.\n  \n### v1.12.1 on May 1, 2019\n  \n- To
    celebrate CoinMarketCap's 6th anniversary we've upgraded the crypto API to make
    more of our data available at each tier! \n- Our free Basic tier may now access
    live price conversions via [/tools/price-conversion](#operation/getV1ToolsPriceconversion).\n-
    Our Hobbyist tier now supports a month of historical price conversions with [/tools/price-conversion](#operation/getV1ToolsPriceconversion)
    using the `time` parameter. We've also made this plan 12% cheaper at $29/mo with
    a yearly subscription or $35/mo month-to-month.\n- Our Startup tier can now access
    a month of cryptocurrency OHLCV data via [/cryptocurrency/ohlcv/historical](#operation/getV1CryptocurrencyOhlcvHistorical)
    along with [/tools/price-conversion](#operation/getV1ToolsPriceconversion).\n-
    Our Standard tier has been upgraded from 1 month to now 3 months of historical
    market data access across all historical endpoints. \n- Our Enterprise, Professional,
    and Standard tiers now get access to a new #18th endpoint [/cryptocurrency/listings/historical](#operation/getV1CryptocurrencyListingsHistorical)!
    Utilize this endpoint to fetch daily historical crypto rankings from the past.
    We've made historical ranking snapshots available all the way back to 2013!  \n-
    All existing accounts and subscribers may take advantage of these updates. If
    you haven't signed up yet you can check out our updated plans on our <a rel=\"noopener
    noreferrer\" href=\"https://coinmarketcap.com/api/features/\" target=\"_blank\">feature
    comparison page</a>.\n  \n### v1.12.0 on Apr 28, 2019\n  \n- Our API docs now
    supply API request examples in 7 languages for every endpoint: cURL, Node.js,
    Python, PHP, Java, C#, and Go.\n- Many customer sites format cryptocurrency data
    page URLs by SEO friendly names like we do here: <a rel=\"noopener noreferrer\"
    href=\"https://coinmarketcap.com/currencies/binance-coin/\" target=\"_blank\">coinmarketcap.com/currencies/binance-coin</a>.
    We've made it much easier for these kinds of pages to dynamically reference data
    from our API. You may now request cryptocurrencies from our [/cryptocurrency/info](#operation/getV1CryptocurrencyInfo)
    and [/cryptocurrency/quotes/latest](#operation/getV1CryptocurrencyQuotesLatest)
    endpoints by `slug` as an alternative to `symbol` or `id`. As always, you can
    retrieve a quick list of every cryptocurrency we support and it's `id`, `symbol`,
    and `slug` via our [/cryptocurrency/map](#operation/getV1CryptocurrencyMap) endpoint.
    \ \n- We've increased `convert` limits on historical endpoints once more. You
    can now request historical market data in up to 3 conversion options at a time
    like we do internally to display line charts <a rel=\"noopener noreferrer\" href=\"https://coinmarketcap.com/currencies/0x/#charts\"
    target=\"_blank\">like this</a>. You can now fetch market data converted into
    your primary cryptocurrency, fiat currency, and a parent platform cryptocurrency
    (Ethereum in this case) all in one call! \n  \n### v1.11.0 on Mar 25, 2019\n\n-
    We now supply a brief text summary for each cryptocurrency in the `description`
    field of [/cryptocurrency/info](#operation/getV1CryptocurrencyInfo). The majority
    of top cryptocurrencies include this field with more coming in the future.  \n-
    We've made `convert` limits on some endpoints and plans more flexible. Historical
    endpoints are now allowed 2 price conversion options instead of 1. Professional
    plan convert limit has doubled from 40 to 80. Enterprise has tripled from 40 to
    120.  \n- CoinMarketCap Market ID: We now return `market_id` in /market-pairs/latest
    endpoints. Like our cryptocurrency and exchange IDs, this ID can reliably be used
    to uniquely identify each market *permanently* as this ID never changes.  \n-
    Market symbol overrides: We now supply an `exchange_symbol` in addition to `currency_symbol`
    for each market pair returned in our /market-pairs/latest endpoints. This allows
    you to reference the currency symbol provided by the exchange in case it differs
    from the CoinMarketCap identified symbol that the majority of markets use.  \n
    \ \n### v1.10.1 on Jan 30, 2019\n\n- Our API health status dashboard is now public
    at http://status.coinmarketcap.com.  \n- We now conveniently return `market_cap`
    in our [/cryptocurrency/ohlcv/historical](#operation/getV1CryptocurrencyOhlcvHistorical)
    endpoint so you don't have to make a separately query when fetching historic OHLCV
    data. \n- We've improved the accuracy of percent_change_1h / 24h / 7d calculations
    when using the `convert` option with our latest cryptocurrency endpoints. \n-
    [/cryptocurrency/market-pairs/latest](#operation/getV1CryptocurrencyMarketpairsLatest)
    now updates more frequently, every 1 minute.  \n- Contract Address and parent
    platform metadata changes are reflected on the API much more quickly.  \n  \n###
    v1.9.0 on Jan 8, 2019\n  \n- Did you know there are currently 684 active USD market
    pairs tracked by CoinMarketCap? You can now pass any [fiat CoinMarketCap ID](#section/Standards-and-Conventions)
    to the [/cryptocurrency/market-pairs/latest](#operation/getV1CryptocurrencyMarketpairsLatest)
    `id` parameter to list all active markets across all exchanges for a given fiat
    currency.   \n- We've added a new dedicated migration FAQ page for users migrating
    from our old Public API to the new API [here](https://pro.coinmarketcap.com/migrate).
    It includes a helpful tutorial link for Excel and Google Sheets users who need
    help migrating.\n- Cryptocurrency and exchange symbol and name rebrands are now
    reflected in the API much more quickly.\n  \n### v1.8.0 on Dec 27, 2018\n \n-
    We now supply the contract address for all cryptocurrencies on token platforms
    like Ethereum! Look for  `token_address` in the `platform` property of our cryptocurrency
    endpoints like [/cryptocurrency/map](#operation/getV1CryptocurrencyMap) and [/cryptocurrency/listings/latest](#operation/getV1CryptocurrencyListingsLatest).\n-
    All 96 non-USD fiat conversion rates now update every 1 minute like our USD rates!
    This includes using the `convert` option for all /latest market data endpoints
    as well as our [/tools/price-conversion](#operation/getV1ToolsPriceconversion)
    endpoint.   \n  \n### v1.7.0 on Dec 18, 2018\n\n- We've upgraded our fiat (government)
    currency conversion support from our original 32 to now cover 93 fiat currencies!
    \ \n- We've also introduced currency conversions for four precious metals: Gold,
    Silver, Platinum, and Palladium! \n- You may pass all 97 fiat currency options
    to our [/tools/price-conversion](#operation/getV1ToolsPriceconversion) endpoint
    using either the `symbol` or `id` parameter. Using CMC `id` is always the most
    robust option. CMC IDs are now included in the full list of fiat options located
    [here](#section/Standards-and-Conventions). \n- All historical endpoints including
    our price conversion endpoint with \"time\" parameter now support historical fiat
    conversions back to 2013!   \n\n### v1.6.0 on Dec 4, 2018\n\n- We've rolled out
    another top requested feature, giving you access to platform metadata for cryptocurrencies
    that are tokens built on other cryptocurrencies like Ethereum. Look for the new
    `platform` property on our cryptocurrency endpoints like [/cryptocurrency/listings/latest](#operation/getV1CryptocurrencyListingsLatest)
    and [/cryptocurrency/map](#operation/getV1CryptocurrencyMap). \n- We've also added
    a **CMC equivalent pages** section to our endpoint docs so you can easily determine
    which endpoints to use to reproduce functionality on the main coinmarketcap.com
    website.  \n- Welcome Public API users! With the migration of our legacy Public
    API into the Professional API we now have 1 unified API at CMC. This API is now
    known as the CoinMarketCap API and can always be accessed at [coinmarketcap.com/api](https://coinmarketcap.com/api).
    \ \n   \n### v1.5.0 on Nov 28, 2018\n\n- [/cryptocurrency/ohlcv/historical](#operation/getV1CryptocurrencyOhlcvHistorical)
    now supports hourly OHLCV! Use time_period=\"hourly\" and don't forget to set
    the \"interval\" parameter to \"hourly\" or one of the new hourly interval options.\n-
    [/tools/price-conversion](#operation/getV1ToolsPriceconversion) now supports historical
    USD conversions.  \n- We've increased the minute based rate limits for several
    plans. Standard plan has been upgraded from 30 to 60 calls per minute. Professional
    from 60 to 90. Enterprise from 90 to 120.  \n- We now include some customer and
    data partner logos and testimonials on the CoinMarketCap API site. Visit pro.coinmarketcap.com
    to check out what our enterprise customers are saying and contact us at api@coinmarketcap.com
    if you'd like to get added to the list!\n     \n### v1.4.0 on Nov 20, 2018\n\n-
    [/tools/price-conversion](#operation/getV1ToolsPriceconversion) can now provide
    the latest crypto-to-crypto conversions at 1 minute accuracy with extended decimal
    precision upwards of 8 decimal places.\n- [/tools/price-conversion](#operation/getV1ToolsPriceconversion)
    now supports historical crypto-to-crypto conversions leveraging our closest averages
    to the specified \"time\" parameter. \n- All of our historical data endpoints
    now support historical cryptocurrency conversions using the \"convert\" parameter.
    The closest reference price for each \"convert\" option against each historical
    datapoint is used for each conversion.\n- [/global-metrics/quotes/historical](#operation/getV1GlobalmetricsQuotesHistorical)
    now supports the \"convert\" parameter.  \n   \n### v1.3.0 on Nov 9, 2018\n\n-
    The latest UTC day's OHLCV record is now available sooner. 5-10 minutes after
    each UTC midnight.\n- We're now returning a new `vol_24h_adjusted` property on
    \ [/exchange/quotes/latest](#operation/getV1ExchangeQuotesLatest) and [/exchange/listings/latest](#operation/getV1ExchangeListingsLatest)
    and a sort option for the latter so you may now list exchange rankings by CMC
    adjusted volume as well as exchange reported. \n- We are now returning a `tags`
    property with [/cryptocurrency/listings/latest](#operation/getV1CryptocurrencyListingsLatest)
    with our first tag `mineable` so you know which currencies are mineable. Additional
    tags will be introduced in the future.\n- We've increased the \"convert\" parameter
    limit from 32 to 40 for plans that support max conversion limits. \n  \n### v1.2.0
    on Oct 30, 2018\n\n- Our exchange [listing](#operation/getV1ExchangeListingsLatest)
    and [quotes](#operation/getV1ExchangeQuotesLatest) endpoints now update much more
    frequently! Every 1 minute instead of every 5 minutes.\n- These latest exchange
    data endpoints also now return `volume_7d / 30d` and `percent_change_volume_24h
    / 7d / 30d` along with existing data.\n- We've updated our documentation for [/exchange/market-pairs/latest](#operation/getV1ExchangeMarketpairsLatest)
    to reflect that it receives updates every 1 minute, not 5, since June.\n  \n###
    v1.1.4 on Oct 19, 2018\n\n- We've improved our tiered support inboxes by plan
    type to answer support requests even faster.\n- You may now opt-in to our API
    mailing list on signup. If you haven't signed up you can [here](/#newsletter-signup).\n
    \ \n### v1.1.3 on Oct 12, 2018\n\n- We've increased the rate limit of our free
    Basic plan from 10 calls a minute to 30.\n- We've increased the rate limit of
    our Hobbyist plan from 15 to 30.\n\n### v1.1.2 on Oct 5, 2018\n  \n- We've updated
    our most popular /cryptocurrency/listings/latest endpoint to cost 1 credit per
    200 data points instead of 100 to give customers more flexibility. \n- By popular
    request we've introduced a new $33 personal use Hobbyist tier with access to our
    currency conversion calculator endpoint. \n- Our existing commercial use Hobbyist
    tier has been renamed to Startup. Our free Starter tier has been renamed to Basic.\n
    \ \n### v1.1.1 on Sept 28, 2018\n  \n- We've increased our monthly credit limits
    for our smaller plans! Existing customers plans have also been updated. \n- Our
    free Starter plan has been upgraded from 6 to 10k monthly credits (66% increase).\n-
    Our Hobbyist plan has been upgraded from 60k to 120k monthly credits (100% increase).
    \n- Our Standard plan has been upgraded from 300 to 500k monthly credits (66%
    increase). \n\n### v1.1.0 on Sept 14, 2018\n  \n- We've introduced our first new
    endpoint since rollout, active day OHLCV for Standard plan and above with [/v1/cryptocurrency/ohlcv/latest](#operation/getV1CryptocurrencyOhlcvLatest)\n
    \ \n### v1.0.4 on Sept 7, 2018\n\n- Subscription customers with billing renewal
    issues now receive an alert from our API during usage and an unpublished grace
    period before access is restricted.\n- API Documentation has been improved including
    an outline of credit usage cost outlined on each endpoint documentation page.\n
    \ \n### v1.0.3 on Aug 24, 2018\n- /v1/tools/price-conversion floating point conversion
    accuracy was improved.\n- Added ability to query for non-alphanumeric crypto symbols
    like $PAC\n- Customers may now update their billing card on file with an active
    Stripe subscription at pro.coinmarketcap.com/account/plan\n  \n### v1.0.2 on Aug
    17, 2018\n- A new [sandbox.coinmarketcap.com](https://sandbox.coinmarketcap.com)
    dedicated testing environment is now available to all customers. \n"
  contact:
    email: api@coinmarketcap.com
  termsOfService: https://coinmarketcap.com/terms/
tags:
- name: cryptocurrency
  description: |-
    ##### API endpoints for cryptocurrencies. This category currently includes 17 endpoints:
    - [/v1/cryptocurrency/map](#operation/getV1CryptocurrencyMap) - CoinMarketCap ID map
    - [/v1/cryptocurrency/info](#operation/getV1CryptocurrencyInfo) - Metadata
    - [/v1/cryptocurrency/listings/latest](#operation/getV1CryptocurrencyListingsLatest) - Latest listings
    - [/v1/cryptocurrency/listings/historical](#operation/getV1CryptocurrencyListingsHistorical) - Historical listings
    - [/v1/cryptocurrency/quotes/latest](#operation/getV1CryptocurrencyQuotesLatest) - Latest quotes
    - [/v1/cryptocurrency/quotes/historical](#operation/getV1CryptocurrencyQuotesHistorical) - Historical quotes
    - [/v1/cryptocurrency/market-pairs/latest](#operation/getV1CryptocurrencyMarketpairsLatest) - Latest market pairs
    - [/v1/cryptocurrency/ohlcv/latest](#operation/getV1CryptocurrencyOhlcvLatest) - Latest OHLCV
    - [/v1/cryptocurrency/ohlcv/historical](#operation/getV1CryptocurrencyOhlcvHistorical) - Historical OHLCV
    - [/v1/cryptocurrency/price-performance-stats/latest](#operation/getV1CryptocurrencyPriceperformancestatsLatest) - Price performance Stats
    - [/v1/cryptocurrency/categories](#operation/getV1CryptocurrencyCategories) - Categories
    - [/v1/cryptocurrency/category](#operation/getV1CryptocurrencyCategory) - Category
    - [/v1/cryptocurrency/airdrops](#operation/getV1CryptocurrencyAirdrops) - Airdrops
    - [/v1/cryptocurrency/airdrop](#operation/getV1CryptocurrencyAirdrop) - Airdrop
    - [/v1/cryptocurrency/trending/latest](#operation/getV1CryptocurrencyTrendingLatest) - Trending Latest
    - [/v1/cryptocurrency/trending/most-visited](#operation/getV1CryptocurrencyTrendingMostvisited) - Trending Most Visited
    - [/v1/cryptocurrency/trending/gainers-losers](#operation/getV1CryptocurrencyTrendingGainerslosers) - Trending Gainers & Losers
- name: fiat
  description: |-
    ##### API endpoints for fiat currencies. This category currently includes 1 endpoint:
    - [/v1/fiat/map](#operation/getV1FiatMap) - CoinMarketCap ID map
- name: exchange
  description: |-
    ##### API endpoints for cryptocurrency exchanges. This category currently includes 7 endpoints:
    - [/v1/exchange/map](#operation/getV1ExchangeMap) - CoinMarketCap ID map
    - [/v1/exchange/info](#operation/getV1ExchangeInfo) - Metadata
    - [/v1/exchange/listings/latest](#operation/getV1ExchangeListingsLatest) - Latest listings
    - [/v1/exchange/listings/historical](#operation/getV1ExchangeListingsHistorical) - Historical listings
    - [/v1/exchange/quotes/latest](#operation/getV1ExchangeQuotesLatest) - Latest quotes
    - [/v1/exchange/quotes/historical](#operation/getV1ExchangeQuotesHistorical) - Historical quotes
    - [/v1/exchange/market-pairs/latest](#operation/getV1ExchangeMarketpairsLatest) - Latest market pairs
- name: global-metrics
  description: "##### API endpoints for global aggregate market data. This category
    currently includes 2 endpoints:\n- [/v1/global-metrics/quotes/latest](#operation/getV1GlobalmetricsQuotesLatest)
    - Latest global metrics  \n- [/v1/global-metrics/quotes/historical](#operation/getV1GlobalmetricsQuotesHistorical)
    - Historical global metrics"
- name: tools
  description: |-
    ##### API endpoints for convenience utilities. This category currently includes 1 endpoint:
    - [/v1/tools/price-conversion](#operation/getV1ToolsPriceconversion) - Price conversion tool
- name: blockchain
  description: |-
    ##### API endpoints for blockchain data. This category currently includes 1 endpoint:
    - [/v1/blockchain/statistics/latest](#operation/getV1BlockchainStatisticsLatest) - Latest statistics
- name: partners
  description: "##### API endpoints that provide supplementary industry data from
    select CMC partners. This category currently includes 2 endpoints:\n- [/v1/partners/flipside-crypto/fcas/listings/latest](#operation/getV1PartnersFlipsidecryptoFcasListingsLatest)
    - List all available FCAS scores  \n- [/v1/partners/flipside-crypto/fcas/quotes/latest](#operation/getV1PartnersFlipsidecryptoFcasQuotesLatest)
    - Request specific FCAS scores  \n  \nWe're continuing to expand the 3rd party
    offerings made available in this new category. If you'd like to submit an API
    integration proposal you may reach out to [api@coinmarketcap.com](mailto:api@coinmarketcap.com).\n<br
    /> <br />\n*Disclaimer: `/partners/` content is offered by third party organizations
    and is not influenced or endorsed by CoinMarketCap.*"
- name: key
  description: |-
    ##### API endpoints for managing your API key. This category currently includes 1 endpoint:
    - [/v1/key/info](#operation/getV1KeyInfo) - Key Info
security:
- ApiKeyAuth: []
paths:
  "/v1/cryptocurrency/airdrop":
    get:
      summary: Airdrop
      operationId: getV1CryptocurrencyAirdrop
      description: "Returns information about a single airdrop available on CoinMarketCap.
        Includes the cryptocurrency metadata. \n\n  **This endpoint is available on
        the following <a href=\"https://coinmarketcap.com/api/features\" target=\"_blank\">API
        plans</a>:**\n  - Hobbyist\n  - Startup\n  - Standard\n  - Professional\n
        \ - Enterprise\n\n**Cache / Update frequency:** Data is updated only as needed,
        every 30 seconds.  \n**Plan credit use:** 1 API call credit per request no
        matter query size.  \n**CMC equivalent pages:** Our free airdrops page [coinmarketcap.com/airdrop/](https://coinmarketcap.com/airdrop/)."
      parameters:
      - type: string
        description: Airdrop Unique ID. This can be found using the Airdrops API.
        name: id
        in: query
        required: true
      tags:
      - cryptocurrency
      responses:
        '200':
          schema:
            "$ref": "#/definitions/Airdrop - Response Model"
          description: Successful
        '400':
          description: Bad Request
          schema:
            "$ref": "#/definitions/HTTP Status 400 Error Object"
            description: Bad Request
        '401':
          description: Unauthorized
          schema:
            "$ref": "#/definitions/HTTP Status 401 Error Object"
            description: Unauthorized
        '403':
          description: Forbidden
          schema:
            "$ref": "#/definitions/HTTP Status 403 Error Object"
            description: Forbidden
        '429':
          description: Too Many Requests
          schema:
            "$ref": "#/definitions/HTTP Status 429 Error Object"
            description: Too Many Requests
        '500':
          description: Internal Server Error
          schema:
            "$ref": "#/definitions/HTTP Status 500 Error Object"
            description: Internal Server Error
  "/v1/cryptocurrency/airdrops":
    get:
      summary: Airdrops
      operationId: getV1CryptocurrencyAirdrops
      description: "Returns a list of past, present, or future airdrops which have
        run on CoinMarketCap.\n\n  **This endpoint is available on the following <a
        href=\"https://coinmarketcap.com/api/features\" target=\"_blank\">API plans</a>:**\n
        \ - Hobbyist\n  - Startup\n  - Standard\n  - Professional\n  - Enterprise\n\n**Cache
        / Update frequency:** Data is updated only as needed, every 30 seconds.  \n**Plan
        credit use:** 1 API call credit per request no matter query size.  \n**CMC
        equivalent pages:** Our free airdrops page [coinmarketcap.com/airdrop/](https://coinmarketcap.com/airdrop/)."
      parameters:
      - type: integer
        description: Optionally offset the start (1-based index) of the paginated
          list of items to return.
        default: 1
        minimum: 1
        name: start
        in: query
      - type: integer
        description: Optionally specify the number of results to return. Use this
          parameter and the "start" parameter to determine your own pagination size.
        default: 100
        minimum: 1
        maximum: 5000
        name: limit
        in: query
      - type: string
        description: What status of airdrops.
        default: ONGOING
        enum:
        - ENDED
        - ONGOING
        - UPCOMING
        name: status
        in: query
      - type: string
        description: 'Filtered airdrops by one cryptocurrency CoinMarketCap IDs. Example:
          1'
        pattern: "^\\d*$"
        name: id
        in: query
      - type: string
        description: 'Alternatively filter airdrops by a cryptocurrency slug. Example:
          "bitcoin"'
        pattern: "^[0-9a-z-]*$"
        x-convert:
          lowercase: true
        name: slug
        in: query
      - type: string
        description: 'Alternatively filter airdrops one cryptocurrency symbol. Example:
          "BTC".'
        pattern: "^[0-9A-Za-z$@\\-]*$"
        name: symbol
        in: query
      tags:
      - cryptocurrency
      responses:
        '200':
          schema:
            "$ref": "#/definitions/Airdrops - Response Model"
          description: Successful
        '400':
          description: Bad Request
          schema:
            "$ref": "#/definitions/HTTP Status 400 Error Object"
            description: Bad Request
        '401':
          description: Unauthorized
          schema:
            "$ref": "#/definitions/HTTP Status 401 Error Object"
            description: Unauthorized
        '403':
          description: Forbidden
          schema:
            "$ref": "#/definitions/HTTP Status 403 Error Object"
            description: Forbidden
        '429':
          description: Too Many Requests
          schema:
            "$ref": "#/definitions/HTTP Status 429 Error Object"
            description: Too Many Requests
        '500':
          description: Internal Server Error
          schema:
            "$ref": "#/definitions/HTTP Status 500 Error Object"
            description: Internal Server Error
  "/v1/cryptocurrency/categories":
    get:
      summary: Categories
      operationId: getV1CryptocurrencyCategories
      description: "Returns information about all coin categories available on CoinMarketCap.
        Includes a paginated list of cryptocurrency quotes and metadata from each
        category.\n\n  **This endpoint is available on the following <a href=\"https://coinmarketcap.com/api/features\"
        target=\"_blank\">API plans</a>:**\n  - Free\n  - Hobbyist\n  - Startup\n
        \ - Standard\n  - Professional\n  - Enterprise\n\n**Cache / Update frequency:**
        Data is updated only as needed, every 30 seconds.  \n**Plan credit use:**
        1 API call credit per request + 1 call credit per 200 cryptocurrencies returned
        (rounded up) and 1 call credit per `convert` option beyond the first.  \n**CMC
        equivalent pages:** Our free airdrops page [coinmarketcap.com/cryptocurrency-category/](https://coinmarketcap.com/cryptocurrency-category/)."
      parameters:
      - type: integer
        description: Optionally offset the start (1-based index) of the paginated
          list of items to return.
        default: 1
        minimum: 1
        name: start
        in: query
      - type: integer
        description: Optionally specify the number of results to return. Use this
          parameter and the "start" parameter to determine your own pagination size.
        minimum: 1
        maximum: 5000
        name: limit
        in: query
      - type: string
        description: 'Filtered categories by one or more comma-separated cryptocurrency
          CoinMarketCap IDs. Example: 1,2'
        pattern: "^\\d+(?:,\\d+)*$"
        name: id
        in: query
      - type: string
        description: 'Alternatively filter categories by a comma-separated list of
          cryptocurrency slugs. Example: "bitcoin,ethereum"'
        pattern: "^[0-9a-z-]+(?:,[0-9a-z-]+)*$"
        x-convert:
          lowercase: true
        name: slug
        in: query
      - type: string
        description: 'Alternatively filter categories one or more comma-separated
          cryptocurrency symbols. Example: "BTC,ETH".'
        pattern: "^[0-9A-Za-z$@\\-,]+(?:,[0-9A-Za-z$@\\-]+)*$"
        name: symbol
        in: query
      tags:
      - cryptocurrency
      responses:
        '200':
          schema:
            "$ref": "#/definitions/Categories - Response Model"
          description: Successful
        '400':
          description: Bad Request
          schema:
            "$ref": "#/definitions/HTTP Status 400 Error Object"
            description: Bad Request
        '401':
          description: Unauthorized
          schema:
            "$ref": "#/definitions/HTTP Status 401 Error Object"
            description: Unauthorized
        '403':
          description: Forbidden
          schema:
            "$ref": "#/definitions/HTTP Status 403 Error Object"
            description: Forbidden
        '429':
          description: Too Many Requests
          schema:
            "$ref": "#/definitions/HTTP Status 429 Error Object"
            description: Too Many Requests
        '500':
          description: Internal Server Error
          schema:
            "$ref": "#/definitions/HTTP Status 500 Error Object"
            description: Internal Server Error
  "/v1/cryptocurrency/category":
    get:
      summary: Category
      operationId: getV1CryptocurrencyCategory
      description: "Returns information about a single coin category available on
        CoinMarketCap. Includes a paginated list of the cryptocurrency quotes and
        metadata for the category.\n\n  **This endpoint is available on the following
        <a href=\"https://coinmarketcap.com/api/features\" target=\"_blank\">API plans</a>:**\n
        \ - Free\n  - Hobbyist\n  - Startup\n  - Standard\n  - Professional\n  - Enterprise\n\n**Cache
        / Update frequency:** Data is updated only as needed, every 30 seconds.  \n**Plan
        credit use:** 1 API call credit per request + 1 call credit per 200 cryptocurrencies
        returned (rounded up) and 1 call credit per `convert` option beyond the first.
        \ \n**CMC equivalent pages:** Our Cryptocurrency Category page [coinmarketcap.com/cryptocurrency-category/](https://coinmarketcap.com/cryptocurrency-category/)."
      parameters:
      - type: string
        description: The Category ID. This can be found using the Categories API.
        name: id
        in: query
        required: true
      - type: integer
        description: Optionally offset the start (1-based index) of the paginated
          list of coins to return.
        default: 1
        minimum: 1
        name: start
        in: query
      - type: integer
        description: Optionally specify the number of coins to return. Use this parameter
          and the "start" parameter to determine your own pagination size.
        default: 100
        minimum: 1
        maximum: 1000
        name: limit
        in: query
      - type: string
        description: Optionally calculate market quotes in up to 120 currencies at
          once by passing a comma-separated list of cryptocurrency or fiat currency
          symbols. Each additional convert option beyond the first requires an additional
          call credit. A list of supported fiat options can be found [here](#section/Standards-and-Conventions).
          Each conversion is returned in its own "quote" object.
        pattern: "^[0-9A-Za-z$@\\-,]+(?:,[0-9A-Za-z$@\\-]+)*$"
        name: convert
        in: query
      - type: string
        description: 'Optionally calculate market quotes by CoinMarketCap ID instead
          of symbol. This option is identical to `convert` outside of ID format. Ex:
          convert_id=1,2781 would replace convert=BTC,USD in your query. This parameter
          cannot be used when `convert` is used.'
        pattern: "^\\d+(?:,\\d+)*$"
        name: convert_id
        in: query
      tags:
      - cryptocurrency
      responses:
        '200':
          schema:
            "$ref": "#/definitions/Category - Response Model"
          description: Successful
        '400':
          description: Bad Request
          schema:
            "$ref": "#/definitions/HTTP Status 400 Error Object"
            description: Bad Request
        '401':
          description: Unauthorized
          schema:
            "$ref": "#/definitions/HTTP Status 401 Error Object"
            description: Unauthorized
        '403':
          description: Forbidden
          schema:
            "$ref": "#/definitions/HTTP Status 403 Error Object"
            description: Forbidden
        '429':
          description: Too Many Requests
          schema:
            "$ref": "#/definitions/HTTP Status 429 Error Object"
            description: Too Many Requests
        '500':
          description: Internal Server Error
          schema:
            "$ref": "#/definitions/HTTP Status 500 Error Object"
            description: Internal Server Error
  "/v1/cryptocurrency/info":
    get:
      summary: Metadata
      operationId: getV1CryptocurrencyInfo
      description: "Returns all static metadata available for one or more cryptocurrencies.
        This information includes details like logo, description, official website
        URL, social links, and links to a cryptocurrency's technical documentation.\n\n**This
        endpoint is available on the following <a href=\"https://coinmarketcap.com/api/features\"
        target=\"_blank\">API plans</a>:**\n- Basic\n- Startup\n- Hobbyist\n- Standard\n-
        Professional\n- Enterprise\n\n**Cache / Update frequency:** Static data is
        updated only as needed, every 30 seconds.  \n**Plan credit use:** 1 call credit
        per 100 cryptocurrencies returned (rounded up).  \n**CMC equivalent pages:**
        Cryptocurrency detail page metadata like [coinmarketcap.com/currencies/bitcoin/](https://coinmarketcap.com/currencies/bitcoin/).
        \ "
      parameters:
      - type: string
        description: 'One or more comma-separated CoinMarketCap cryptocurrency IDs.
          Example: "1,2"'
        pattern: "^\\d+(?:,\\d+)*$"
        name: id
        in: query
      - type: string
        description: 'Alternatively pass a comma-separated list of cryptocurrency
          slugs. Example: "bitcoin,ethereum"'
        pattern: "^[0-9a-z-]+(?:,[0-9a-z-]+)*$"
        x-convert:
          lowercase: true
        name: slug
        in: query
      - type: string
        description: 'Alternatively pass one or more comma-separated cryptocurrency
          symbols. Example: "BTC,ETH". At least one "id" *or* "slug" *or* "symbol"
          is required for this request.'
        pattern: "^[0-9A-Za-z$@\\-,]+(?:,[0-9A-Za-z$@\\-]+)*$"
        name: symbol
        in: query
      - type: string
        description: 'Alternatively pass in a contract address. Example: "0xc40af1e4fecfa05ce6bab79dcd8b373d2e436c4e"'
        name: address
        in: query
      - type: string
        description: Optionally specify a comma-separated list of supplemental data
          fields to return. Pass `urls,logo,description,tags,platform,date_added,notice,status`
          to include all auxiliary fields.
        default: urls,logo,description,tags,platform,date_added,notice
        pattern: "^(urls|logo|description|tags|platform|date_added|notice|status)+(?:,(urls|logo|description|tags|platform|date_added|notice|status)+)*$"
        name: aux
        in: query
      tags:
      - cryptocurrency
      responses:
        '200':
          schema:
            "$ref": "#/definitions/Cryptocurrencies Info - Response Model"
          description: Successful
        '400':
          description: Bad Request
          schema:
            "$ref": "#/definitions/HTTP Status 400 Error Object"
            description: Bad Request
        '401':
          description: Unauthorized
          schema:
            "$ref": "#/definitions/HTTP Status 401 Error Object"
            description: Unauthorized
        '403':
          description: Forbidden
          schema:
            "$ref": "#/definitions/HTTP Status 403 Error Object"
            description: Forbidden
        '429':
          description: Too Many Requests
          schema:
            "$ref": "#/definitions/HTTP Status 429 Error Object"
            description: Too Many Requests
        '500':
          description: Internal Server Error
          schema:
            "$ref": "#/definitions/HTTP Status 500 Error Object"
            description: Internal Server Error
  "/v1/cryptocurrency/map":
    get:
      summary: CoinMarketCap ID Map
      operationId: getV1CryptocurrencyMap
      description: "Returns a mapping of all cryptocurrencies to unique CoinMarketCap
        `id`s. Per our <a href=\"#section/Best-Practices\" target=\"_blank\">Best
        Practices</a> we recommend utilizing CMC ID instead of cryptocurrency symbols
        to securely identify cryptocurrencies with our other endpoints and in your
        own application logic.  Each cryptocurrency returned includes typical identifiers
        such as `name`, `symbol`, and `token_address` for flexible mapping to `id`.
        \  \n  \n  By default this endpoint returns cryptocurrencies that have actively
        tracked markets on supported exchanges. You may receive a map of all inactive
        cryptocurrencies by passing `listing_status=inactive`. You may also receive
        a map of registered cryptocurrency projects that are listed but do not yet
        meet methodology requirements to have tracked markets via `listing_status=untracked`.
        Please review our <a target=\"_blank\" href=\"https://coinmarketcap.com/methodology/\">methodology
        documentation</a> for additional details on listing states. \n    \n  Cryptocurrencies
        returned include `first_historical_data` and `last_historical_data` timestamps
        to conveniently reference historical date ranges available to query with historical
        time-series data endpoints. You may also use the `aux` parameter to only include
        properties you require to slim down the payload if calling this endpoint frequently.
        \n\n  **This endpoint is available on the following <a href=\"https://coinmarketcap.com/api/features\"
        target=\"_blank\">API plans</a>:**\n  - Basic\n  - Hobbyist\n  - Startup\n
        \ - Standard\n  - Professional\n  - Enterprise\n\n**Cache / Update frequency:**
        Mapping data is updated only as needed, every 30 seconds.  \n**Plan credit
        use:** 1 API call credit per request no matter query size.  \n**CMC equivalent
        pages:** No equivalent, this data is only available via API."
      parameters:
      - type: string
        description: Only active cryptocurrencies are returned by default. Pass `inactive`
          to get a list of cryptocurrencies that are no longer active. Pass `untracked`
          to get a list of cryptocurrencies that are listed but do not yet meet methodology
          requirements to have tracked markets available. You may pass one or more
          comma-separated values.
        default: active
        pattern: "^(active|inactive|untracked)+(?:,(active|inactive|untracked)+)*$"
        name: listing_status
        in: query
      - type: integer
        description: Optionally offset the start (1-based index) of the paginated
          list of items to return.
        default: 1
        minimum: 1
        name: start
        in: query
      - type: integer
        description: Optionally specify the number of results to return. Use this
          parameter and the "start" parameter to determine your own pagination size.
        minimum: 1
        maximum: 5000
        name: limit
        in: query
      - type: string
        description: What field to sort the list of cryptocurrencies by.
        default: id
        enum:
        - cmc_rank
        - id
        name: sort
        in: query
      - type: string
        description: Optionally pass a comma-separated list of cryptocurrency symbols
          to return CoinMarketCap IDs for. If this option is passed, other options
          will be ignored.
        pattern: "^[0-9A-Za-z$@\\-,]+(?:,[0-9A-Za-z$@\\-]+)*$"
        name: symbol
        in: query
      - type: string
        description: Optionally specify a comma-separated list of supplemental data
          fields to return. Pass `platform,first_historical_data,last_historical_data,is_active,status`
          to include all auxiliary fields.
        default: platform,first_historical_data,last_historical_data,is_active
        pattern: "^(platform|first_historical_data|last_historical_data|is_active|status)+(?:,(platform|first_historical_data|last_historical_data|is_active|status)+)*$"
        name: aux
        in: query
      tags:
      - cryptocurrency
      responses:
        '200':
          schema:
            "$ref": "#/definitions/Cryptocurrency Map - Response Model"
          description: Successful
        '400':
          description: Bad Request
          schema:
            "$ref": "#/definitions/HTTP Status 400 Error Object"
            description: Bad Request
        '401':
          description: Unauthorized
          schema:
            "$ref": "#/definitions/HTTP Status 401 Error Object"
            description: Unauthorized
        '403':
          description: Forbidden
          schema:
            "$ref": "#/definitions/HTTP Status 403 Error Object"
            description: Forbidden
        '429':
          description: Too Many Requests
          schema:
            "$ref": "#/definitions/HTTP Status 429 Error Object"
            description: Too Many Requests
        '500':
          description: Internal Server Error
          schema:
            "$ref": "#/definitions/HTTP Status 500 Error Object"
            description: Internal Server Error
  "/v1/exchange/info":
    get:
      summary: Metadata
      operationId: getV1ExchangeInfo
      description: "Returns all static metadata for one or more exchanges. This information
        includes details like launch date, logo, official website URL, social links,
        and market fee documentation URL.\n\n  **This endpoint is available on the
        following <a href=\"https://coinmarketcap.com/api/features\" target=\"_blank\">API
        plans</a>:**\n  - Basic\n  - Hobbyist\n  - Startup\n  - Standard\n  - Professional\n
        \ - Enterprise\n\n**Cache / Update frequency:** Static data is updated only
        as needed, every 30 seconds.  \n**Plan credit use:** 1 call credit per 100
        exchanges returned (rounded up).  \n**CMC equivalent pages:** Exchange detail
        page metadata like [coinmarketcap.com/exchanges/binance/](https://coinmarketcap.com/exchanges/binance/).
        \ "
      parameters:
      - type: string
        description: 'One or more comma-separated CoinMarketCap cryptocurrency exchange
          ids. Example: "1,2"'
        pattern: "^\\d+(?:,\\d+)*$"
        name: id
        in: query
      - type: string
        description: 'Alternatively, one or more comma-separated exchange names in
          URL friendly shorthand "slug" format (all lowercase, spaces replaced with
          hyphens). Example: "binance,gdax". At least one "id" *or* "slug" is required.'
        pattern: "^[0-9a-z-]+(?:,[0-9a-z-]+)*$"
        x-convert:
          lowercase: true
        name: slug
        in: query
      - type: string
        description: Optionally specify a comma-separated list of supplemental data
          fields to return. Pass `urls,logo,description,date_launched,notice,status`
          to include all auxiliary fields.
        default: urls,logo,description,date_launched,notice
        pattern: "^(urls|logo|description|date_launched|notice|status)+(?:,(urls|logo|description|date_launched|notice|status)+)*$"
        name: aux
        in: query
      tags:
      - exchange
      responses:
        '200':
          schema:
            "$ref": "#/definitions/Exchanges Info - Response Model"
          description: Successful
        '400':
          description: Bad Request
          schema:
            "$ref": "#/definitions/HTTP Status 400 Error Object"
            description: Bad Request
        '401':
          description: Unauthorized
          schema:
            "$ref": "#/definitions/HTTP Status 401 Error Object"
            description: Unauthorized
        '403':
          description: Forbidden
          schema:
            "$ref": "#/definitions/HTTP Status 403 Error Object"
            description: Forbidden
        '429':
          description: Too Many Requests
          schema:
            "$ref": "#/definitions/HTTP Status 429 Error Object"
            description: Too Many Requests
        '500':
          description: Internal Server Error
          schema:
            "$ref": "#/definitions/HTTP Status 500 Error Object"
            description: Internal Server Error
  "/v1/exchange/map":
    get:
      summary: CoinMarketCap ID Map
      operationId: getV1ExchangeMap
      description: "Returns a paginated list of all active cryptocurrency exchanges
        by CoinMarketCap ID. We recommend using this convenience endpoint to lookup
        and utilize our unique exchange `id` across all endpoints as typical exchange
        identifiers may change over time. As a convenience you may pass a comma-separated
        list of exchanges by `slug` to filter this list to only those you require
        or the `aux` parameter to slim down the payload.\n\nBy default this endpoint
        returns exchanges that have at least 1 actively tracked market. You may receive
        a map of all inactive cryptocurrencies by passing `listing_status=inactive`.
        You may also receive a map of registered exchanges that are listed but do
        not yet meet methodology requirements to have tracked markets available via
        `listing_status=untracked`. Please review **(3) Listing Tiers** in our <a
        target=\"_blank\" href=\"https://coinmarketcap.com/methodology/\">methodology
        documentation</a> for additional details on listing states. \n\n**This endpoint
        is available on the following <a href=\"https://coinmarketcap.com/api/features\"
        target=\"_blank\">API plans</a>:**\n  - Basic\n  - Hobbyist\n  - Startup\n
        \ - Standard\n  - Professional\n  - Enterprise\n\n**Cache / Update frequency:**
        Mapping data is updated only as needed, every 30 seconds.  \n**Plan credit
        use:** 1 call credit per call.  \n**CMC equivalent pages:** No equivalent,
        this data is only available via API.  "
      parameters:
      - type: string
        description: Only active exchanges are returned by default. Pass `inactive`
          to get a list of exchanges that are no longer active. Pass `untracked` to
          get a list of exchanges that are registered but do not currently meet methodology
          requirements to have active markets tracked. You may pass one or more comma-separated
          values.
        default: active
        pattern: "^(active|inactive|untracked)+(?:,(active|inactive|untracked)+)*$"
        name: listing_status
        in: query
      - type: string
        description: Optionally pass a comma-separated list of exchange slugs (lowercase
          URL friendly shorthand name with spaces replaced with dashes) to return
          CoinMarketCap IDs for. If this option is passed, other options will be ignored.
        pattern: "^[0-9a-z-]+(?:,[0-9a-z-]+)*$"
        x-convert:
          lowercase: true
        name: slug
        in: query
      - type: integer
[...]
