---
swagger: '2.0'
host: pro-api.coinmarketcap.com
basePath: "/"
schemes:
- https
info:
  title: CoinMarketCap Cryptocurrency API Documentation
  version: 1.26.0
  description: "# Introduction\nThe CoinMarketCap API is a suite of high-performance
    RESTful JSON endpoints that are specifically designed to meet the mission-critical
    demands of application developers, data scientists, and enterprise business platforms.\n\nThis
    API reference includes all technical documentation developers need to integrate
    third-party applications and platforms. Additional answers to common questions
    can be found in the [CoinMarketCap API FAQ](https://coinmarketcap.com/api/faq).\n\n#
    Quick Start Guide\n\nFor developers eager to hit the ground running with the CoinMarketCap
    API here are a few quick steps to make your first call with the API.\n\n1. **Sign
    up for a free Developer Portal account.** You can sign up at [pro.coinmarketcap.com](https://pro.coinmarketcap.com)
    - This is our live production environment with the latest market data. Select
    the free `Basic` plan if it meets your needs or upgrade to a paid tier.\n2. **Copy
    your API Key.** Once you sign up you'll land on your Developer Portal account
    dashboard. Copy your API from the `API Key` box in the top left panel.\n3. **Make
    a test call using your key.** You may use the code examples provided below to
    make a test call with your programming language of choice. This example [fetches
    all active cryptocurrencies by market cap and return market values in USD](https://pro-api.coinmarketcap.com/v1/cryptocurrency/listings/latest?start=1&limit=5000&convert=USD).
    \ \n  *Be sure to replace the API Key in sample code with your own and use API
    domain `pro-api.coinmarketcap.com` or use the test API Key `b54bcf4d-1bca-4e8e-9a24-22ff2c3d462c`
    for `sandbox-api.coinmarketcap.com` testing with our sandbox.coinmarketcap.com
    environment. Please note that our sandbox api has mock data and should not be
    used in your application.*"
  contact:
    email: api@coinmarketcap.com
  termsOfService: https://coinmarketcap.com/terms/
tags:
- name: cryptocurrency
  description: |-
    ##### API endpoints for cryptocurrencies. This category currently includes 17 endpoints:
    - [/v1/cryptocurrency/map](#operation/getV1CryptocurrencyMap) - CoinMarketCap ID map
    - [/v1/cryptocurrency/info](#operation/getV1CryptocurrencyInfo) - Metadata
    - [/v1/cryptocurrency/listings/latest](#operation/getV1CryptocurrencyListingsLatest) - Latest listings
    - [/v1/cryptocurrency/listings/historical](#operation/getV1CryptocurrencyListingsHistorical) - Historical listings
    - [/v1/cryptocurrency/quotes/latest](#operation/getV1CryptocurrencyQuotesLatest) - Latest quotes
    - [/v1/cryptocurrency/quotes/historical](#operation/getV1CryptocurrencyQuotesHistorical) - Historical quotes
    - [/v1/cryptocurrency/market-pairs/latest](#operation/getV1CryptocurrencyMarketpairsLatest) - Latest market pairs
    - [/v1/cryptocurrency/ohlcv/latest](#operation/getV1CryptocurrencyOhlcvLatest) - Latest OHLCV
    - [/v1/cryptocurrency/ohlcv/historical](#operation/getV1CryptocurrencyOhlcvHistorical) - Historical OHLCV
    - [/v1/cryptocurrency/price-performance-stats/latest](#operation/getV1CryptocurrencyPriceperformancestatsLatest) - Price performance Stats
    - [/v1/cryptocurrency/categories](#operation/getV1CryptocurrencyCategories) - Categories
    - [/v1/cryptocurrency/category](#operation/getV1CryptocurrencyCategory) - Category
    - [/v1/cryptocurrency/airdrops](#operation/getV1CryptocurrencyAirdrops) - Airdrops
    - [/v1/cryptocurrency/airdrop](#operation/getV1CryptocurrencyAirdrop) - Airdrop
    - [/v1/cryptocurrency/trending/latest](#operation/getV1CryptocurrencyTrendingLatest) - Trending Latest
    - [/v1/cryptocurrency/trending/most-visited](#operation/getV1CryptocurrencyTrendingMostvisited) - Trending Most Visited
    - [/v1/cryptocurrency/trending/gainers-losers](#operation/getV1CryptocurrencyTrendingGainerslosers) - Trending Gainers & Losers
- name: fiat
  description: |-
    ##### API endpoints for fiat currencies. This category currently includes 1 endpoint:
    - [/v1/fiat/map](#operation/getV1FiatMap) - CoinMarketCap ID map
- name: exchange
  description: |-
    ##### API endpoints for cryptocurrency exchanges. This category currently includes 7 endpoints:
    - [/v1/exchange/map](#operation/getV1ExchangeMap) - CoinMarketCap ID map
    - [/v1/exchange/info](#operation/getV1ExchangeInfo) - Metadata
    - [/v1/exchange/listings/latest](#operation/getV1ExchangeListingsLatest) - Latest listings
    - [/v1/exchange/listings/historical](#operation/getV1ExchangeListingsHistorical) - Historical listings
    - [/v1/exchange/quotes/latest](#operation/getV1ExchangeQuotesLatest) - Latest quotes
    - [/v1/exchange/quotes/historical](#operation/getV1ExchangeQuotesHistorical) - Historical quotes
    - [/v1/exchange/market-pairs/latest](#operation/getV1ExchangeMarketpairsLatest) - Latest market pairs
- name: global-metrics
  description: "##### API endpoints for global aggregate market data. This category
    currently includes 2 endpoints:\n- [/v1/global-metrics/quotes/latest](#operation/getV1GlobalmetricsQuotesLatest)
    - Latest global metrics  \n- [/v1/global-metrics/quotes/historical](#operation/getV1GlobalmetricsQuotesHistorical)
    - Historical global metrics"
- name: tools
  description: |-
    ##### API endpoints for convenience utilities. This category currently includes 1 endpoint:
    - [/v1/tools/price-conversion](#operation/getV1ToolsPriceconversion) - Price conversion tool
- name: blockchain
  description: |-
    ##### API endpoints for blockchain data. This category currently includes 1 endpoint:
    - [/v1/blockchain/statistics/latest](#operation/getV1BlockchainStatisticsLatest) - Latest statistics
- name: partners
  description: "##### API endpoints that provide supplementary industry data from
    select CMC partners. This category currently includes 2 endpoints:\n- [/v1/partners/flipside-crypto/fcas/listings/latest](#operation/getV1PartnersFlipsidecryptoFcasListingsLatest)
    - List all available FCAS scores  \n- [/v1/partners/flipside-crypto/fcas/quotes/latest](#operation/getV1PartnersFlipsidecryptoFcasQuotesLatest)
    - Request specific FCAS scores  \n  \nWe're continuing to expand the 3rd party
    offerings made available in this new category. If you'd like to submit an API
    integration proposal you may reach out to [api@coinmarketcap.com](mailto:api@coinmarketcap.com).\n<br
    /> <br />\n*Disclaimer: `/partners/` content is offered by third party organizations
    and is not influenced or endorsed by CoinMarketCap.*"
- name: key
  description: |-
    ##### API endpoints for managing your API key. This category currently includes 1 endpoint:
    - [/v1/key/info](#operation/getV1KeyInfo) - Key Info
security:
- ApiKeyAuth: []
paths:
  "/v1/cryptocurrency/airdrop":
    get:
      summary: Airdrop
      operationId: getV1CryptocurrencyAirdrop
      description: "Returns information about a single airdrop available on CoinMarketCap.
        Includes the cryptocurrency metadata. \n\n  **This endpoint is available on
        the following <a href=\"https://coinmarketcap.com/api/features\" target=\"_blank\">API
        plans</a>:**\n  - Hobbyist\n  - Startup\n  - Standard\n  - Professional\n
        \ - Enterprise\n\n**Cache / Update frequency:** Data is updated only as needed,
        every 30 seconds.  \n**Plan credit use:** 1 API call credit per request no
        matter query size.  \n**CMC equivalent pages:** Our free airdrops page [coinmarketcap.com/airdrop/](https://coinmarketcap.com/airdrop/)."
      parameters:
      - type: string
        description: Airdrop Unique ID. This can be found using the Airdrops API.
        name: id
        in: query
        required: true
      tags:
      - cryptocurrency
      responses:
        '200':
          schema:
            "$ref": "#/definitions/Airdrop - Response Model"
          description: Successful
        '400':
          description: Bad Request
          schema:
            "$ref": "#/definitions/HTTP Status 400 Error Object"
            description: Bad Request
        '401':
          description: Unauthorized
          schema:
            "$ref": "#/definitions/HTTP Status 401 Error Object"
            description: Unauthorized
        '403':
          description: Forbidden
          schema:
            "$ref": "#/definitions/HTTP Status 403 Error Object"
            description: Forbidden
        '429':
          description: Too Many Requests
          schema:
            "$ref": "#/definitions/HTTP Status 429 Error Object"
            description: Too Many Requests
        '500':
          description: Internal Server Error
          schema:
            "$ref": "#/definitions/HTTP Status 500 Error Object"
            description: Internal Server Error
  "/v1/cryptocurrency/airdrops":
    get:
      summary: Airdrops
      operationId: getV1CryptocurrencyAirdrops
      description: "Returns a list of past, present, or future airdrops which have
        run on CoinMarketCap.\n\n  **This endpoint is available on the following <a
        href=\"https://coinmarketcap.com/api/features\" target=\"_blank\">API plans</a>:**\n
        \ - Hobbyist\n  - Startup\n  - Standard\n  - Professional\n  - Enterprise\n\n**Cache
        / Update frequency:** Data is updated only as needed, every 30 seconds.  \n**Plan
        credit use:** 1 API call credit per request no matter query size.  \n**CMC
        equivalent pages:** Our free airdrops page [coinmarketcap.com/airdrop/](https://coinmarketcap.com/airdrop/)."
      parameters:
      - type: integer
        description: Optionally offset the start (1-based index) of the paginated
          list of items to return.
        default: 1
        minimum: 1
        name: start
        in: query
      - type: integer
        description: Optionally specify the number of results to return. Use this
          parameter and the "start" parameter to determine your own pagination size.
        default: 100
        minimum: 1
        maximum: 5000
        name: limit
        in: query
      - type: string
        description: What status of airdrops.
        default: ONGOING
        enum:
        - ENDED
        - ONGOING
        - UPCOMING
        name: status
        in: query
      - type: string
        description: 'Filtered airdrops by one cryptocurrency CoinMarketCap IDs. Example:
          1'
        pattern: "^\\d*$"
        name: id
        in: query
      - type: string
        description: 'Alternatively filter airdrops by a cryptocurrency slug. Example:
          "bitcoin"'
        pattern: "^[0-9a-z-]*$"
        x-convert:
          lowercase: true
        name: slug
        in: query
      - type: string
        description: 'Alternatively filter airdrops one cryptocurrency symbol. Example:
          "BTC".'
        pattern: "^[0-9A-Za-z$@\\-]*$"
        name: symbol
        in: query
      tags:
      - cryptocurrency
      responses:
        '200':
          schema:
            "$ref": "#/definitions/Airdrops - Response Model"
          description: Successful
        '400':
          description: Bad Request
          schema:
            "$ref": "#/definitions/HTTP Status 400 Error Object"
            description: Bad Request
        '401':
          description: Unauthorized
          schema:
            "$ref": "#/definitions/HTTP Status 401 Error Object"
            description: Unauthorized
        '403':
          description: Forbidden
          schema:
            "$ref": "#/definitions/HTTP Status 403 Error Object"
            description: Forbidden
        '429':
          description: Too Many Requests
          schema:
            "$ref": "#/definitions/HTTP Status 429 Error Object"
            description: Too Many Requests
        '500':
          description: Internal Server Error
          schema:
            "$ref": "#/definitions/HTTP Status 500 Error Object"
            description: Internal Server Error
  "/v1/cryptocurrency/categories":
    get:
      summary: Categories
      operationId: getV1CryptocurrencyCategories
      description: "Returns information about all coin categories available on CoinMarketCap.
        Includes a paginated list of cryptocurrency quotes and metadata from each
        category.\n\n  **This endpoint is available on the following <a href=\"https://coinmarketcap.com/api/features\"
        target=\"_blank\">API plans</a>:**\n  - Free\n  - Hobbyist\n  - Startup\n
        \ - Standard\n  - Professional\n  - Enterprise\n\n**Cache / Update frequency:**
        Data is updated only as needed, every 30 seconds.  \n**Plan credit use:**
        1 API call credit per request + 1 call credit per 200 cryptocurrencies returned
        (rounded up) and 1 call credit per `convert` option beyond the first.  \n**CMC
        equivalent pages:** Our free airdrops page [coinmarketcap.com/cryptocurrency-category/](https://coinmarketcap.com/cryptocurrency-category/)."
      parameters:
      - type: integer
        description: Optionally offset the start (1-based index) of the paginated
          list of items to return.
        default: 1
        minimum: 1
        name: start
        in: query
      - type: integer
        description: Optionally specify the number of results to return. Use this
          parameter and the "start" parameter to determine your own pagination size.
        minimum: 1
        maximum: 5000
        name: limit
        in: query
      - type: string
        description: 'Filtered categories by one or more comma-separated cryptocurrency
          CoinMarketCap IDs. Example: 1,2'
        pattern: "^\\d+(?:,\\d+)*$"
        name: id
        in: query
      - type: string
        description: 'Alternatively filter categories by a comma-separated list of
          cryptocurrency slugs. Example: "bitcoin,ethereum"'
        pattern: "^[0-9a-z-]+(?:,[0-9a-z-]+)*$"
        x-convert:
          lowercase: true
        name: slug
        in: query
      - type: string
        description: 'Alternatively filter categories one or more comma-separated
          cryptocurrency symbols. Example: "BTC,ETH".'
        pattern: "^[0-9A-Za-z$@\\-,]+(?:,[0-9A-Za-z$@\\-]+)*$"
        name: symbol
        in: query
      tags:
      - cryptocurrency
      responses:
        '200':
          schema:
            "$ref": "#/definitions/Categories - Response Model"
          description: Successful
        '400':
          description: Bad Request
          schema:
            "$ref": "#/definitions/HTTP Status 400 Error Object"
            description: Bad Request
        '401':
          description: Unauthorized
          schema:
            "$ref": "#/definitions/HTTP Status 401 Error Object"
            description: Unauthorized
        '403':
          description: Forbidden
          schema:
            "$ref": "#/definitions/HTTP Status 403 Error Object"
            description: Forbidden
        '429':
          description: Too Many Requests
          schema:
            "$ref": "#/definitions/HTTP Status 429 Error Object"
            description: Too Many Requests
        '500':
          description: Internal Server Error
          schema:
            "$ref": "#/definitions/HTTP Status 500 Error Object"
            description: Internal Server Error
  "/v1/cryptocurrency/category":
    get:
      summary: Category
      operationId: getV1CryptocurrencyCategory
      description: "Returns information about a single coin category available on
        CoinMarketCap. Includes a paginated list of the cryptocurrency quotes and
        metadata for the category.\n\n  **This endpoint is available on the following
        <a href=\"https://coinmarketcap.com/api/features\" target=\"_blank\">API plans</a>:**\n
        \ - Free\n  - Hobbyist\n  - Startup\n  - Standard\n  - Professional\n  - Enterprise\n\n**Cache
        / Update frequency:** Data is updated only as needed, every 30 seconds.  \n**Plan
        credit use:** 1 API call credit per request + 1 call credit per 200 cryptocurrencies
        returned (rounded up) and 1 call credit per `convert` option beyond the first.
        \ \n**CMC equivalent pages:** Our Cryptocurrency Category page [coinmarketcap.com/cryptocurrency-category/](https://coinmarketcap.com/cryptocurrency-category/)."
      parameters:
      - type: string
        description: The Category ID. This can be found using the Categories API.
        name: id
        in: query
        required: true
      - type: integer
        description: Optionally offset the start (1-based index) of the paginated
          list of coins to return.
        default: 1
        minimum: 1
        name: start
        in: query
      - type: integer
        description: Optionally specify the number of coins to return. Use this parameter
          and the "start" parameter to determine your own pagination size.
        default: 100
        minimum: 1
        maximum: 1000
        name: limit
        in: query
      - type: string
        description: Optionally calculate market quotes in up to 120 currencies at
          once by passing a comma-separated list of cryptocurrency or fiat currency
          symbols. Each additional convert option beyond the first requires an additional
          call credit. A list of supported fiat options can be found [here](#section/Standards-and-Conventions).
          Each conversion is returned in its own "quote" object.
        pattern: "^[0-9A-Za-z$@\\-,]+(?:,[0-9A-Za-z$@\\-]+)*$"
        name: convert
        in: query
      - type: string
        description: 'Optionally calculate market quotes by CoinMarketCap ID instead
          of symbol. This option is identical to `convert` outside of ID format. Ex:
          convert_id=1,2781 would replace convert=BTC,USD in your query. This parameter
          cannot be used when `convert` is used.'
        pattern: "^\\d+(?:,\\d+)*$"
        name: convert_id
        in: query
      tags:
      - cryptocurrency
      responses:
        '200':
          schema:
            "$ref": "#/definitions/Category - Response Model"
          description: Successful
        '400':
          description: Bad Request
          schema:
            "$ref": "#/definitions/HTTP Status 400 Error Object"
            description: Bad Request
        '401':
          description: Unauthorized
          schema:
            "$ref": "#/definitions/HTTP Status 401 Error Object"
            description: Unauthorized
        '403':
          description: Forbidden
          schema:
            "$ref": "#/definitions/HTTP Status 403 Error Object"
            description: Forbidden
        '429':
          description: Too Many Requests
          schema:
            "$ref": "#/definitions/HTTP Status 429 Error Object"
            description: Too Many Requests
        '500':
          description: Internal Server Error
          schema:
            "$ref": "#/definitions/HTTP Status 500 Error Object"
            description: Internal Server Error
  "/v1/cryptocurrency/info":
    get:
      summary: Metadata
      operationId: getV1CryptocurrencyInfo
      description: "Returns all static metadata available for one or more cryptocurrencies.
        This information includes details like logo, description, official website
        URL, social links, and links to a cryptocurrency's technical documentation.\n\n**This
        endpoint is available on the following <a href=\"https://coinmarketcap.com/api/features\"
        target=\"_blank\">API plans</a>:**\n- Basic\n- Startup\n- Hobbyist\n- Standard\n-
        Professional\n- Enterprise\n\n**Cache / Update frequency:** Static data is
        updated only as needed, every 30 seconds.  \n**Plan credit use:** 1 call credit
        per 100 cryptocurrencies returned (rounded up).  \n**CMC equivalent pages:**
        Cryptocurrency detail page metadata like [coinmarketcap.com/currencies/bitcoin/](https://coinmarketcap.com/currencies/bitcoin/).
        \ "
      parameters:
      - type: string
        description: 'One or more comma-separated CoinMarketCap cryptocurrency IDs.
          Example: "1,2"'
        pattern: "^\\d+(?:,\\d+)*$"
        name: id
        in: query
      - type: string
        description: 'Alternatively pass a comma-separated list of cryptocurrency
          slugs. Example: "bitcoin,ethereum"'
        pattern: "^[0-9a-z-]+(?:,[0-9a-z-]+)*$"
        x-convert:
          lowercase: true
        name: slug
        in: query
      - type: string
        description: 'Alternatively pass one or more comma-separated cryptocurrency
          symbols. Example: "BTC,ETH". At least one "id" *or* "slug" *or* "symbol"
          is required for this request.'
        pattern: "^[0-9A-Za-z$@\\-,]+(?:,[0-9A-Za-z$@\\-]+)*$"
        name: symbol
        in: query
      - type: string
        description: 'Alternatively pass in a contract address. Example: "0xc40af1e4fecfa05ce6bab79dcd8b373d2e436c4e"'
        name: address
        in: query
      - type: string
        description: Optionally specify a comma-separated list of supplemental data
          fields to return. Pass `urls,logo,description,tags,platform,date_added,notice,status`
          to include all auxiliary fields.
        default: urls,logo,description,tags,platform,date_added,notice
        pattern: "^(urls|logo|description|tags|platform|date_added|notice|status)+(?:,(urls|logo|description|tags|platform|date_added|notice|status)+)*$"
        name: aux
        in: query
      tags:
      - cryptocurrency
      responses:
        '200':
          schema:
            "$ref": "#/definitions/Cryptocurrencies Info - Response Model"
          description: Successful
        '400':
          description: Bad Request
          schema:
            "$ref": "#/definitions/HTTP Status 400 Error Object"
            description: Bad Request
        '401':
          description: Unauthorized
          schema:
            "$ref": "#/definitions/HTTP Status 401 Error Object"
            description: Unauthorized
        '403':
          description: Forbidden
          schema:
            "$ref": "#/definitions/HTTP Status 403 Error Object"
            description: Forbidden
        '429':
          description: Too Many Requests
          schema:
            "$ref": "#/definitions/HTTP Status 429 Error Object"
            description: Too Many Requests
        '500':
          description: Internal Server Error
          schema:
            "$ref": "#/definitions/HTTP Status 500 Error Object"
            description: Internal Server Error
  "/v1/cryptocurrency/map":
    get:
      summary: CoinMarketCap ID Map
      operationId: getV1CryptocurrencyMap
      description: "Returns a mapping of all cryptocurrencies to unique CoinMarketCap
        `id`s. Per our <a href=\"#section/Best-Practices\" target=\"_blank\">Best
        Practices</a> we recommend utilizing CMC ID instead of cryptocurrency symbols
        to securely identify cryptocurrencies with our other endpoints and in your
        own application logic.  Each cryptocurrency returned includes typical identifiers
        such as `name`, `symbol`, and `token_address` for flexible mapping to `id`.
        \  \n  \n  By default this endpoint returns cryptocurrencies that have actively
        tracked markets on supported exchanges. You may receive a map of all inactive
        cryptocurrencies by passing `listing_status=inactive`. You may also receive
        a map of registered cryptocurrency projects that are listed but do not yet
        meet methodology requirements to have tracked markets via `listing_status=untracked`.
        Please review our <a target=\"_blank\" href=\"https://coinmarketcap.com/methodology/\">methodology
        documentation</a> for additional details on listing states. \n    \n  Cryptocurrencies
        returned include `first_historical_data` and `last_historical_data` timestamps
        to conveniently reference historical date ranges available to query with historical
        time-series data endpoints. You may also use the `aux` parameter to only include
        properties you require to slim down the payload if calling this endpoint frequently.
        \n\n  **This endpoint is available on the following <a href=\"https://coinmarketcap.com/api/features\"
        target=\"_blank\">API plans</a>:**\n  - Basic\n  - Hobbyist\n  - Startup\n
        \ - Standard\n  - Professional\n  - Enterprise\n\n**Cache / Update frequency:**
        Mapping data is updated only as needed, every 30 seconds.  \n**Plan credit
        use:** 1 API call credit per request no matter query size.  \n**CMC equivalent
        pages:** No equivalent, this data is only available via API."
      parameters:
      - type: string
        description: Only active cryptocurrencies are returned by default. Pass `inactive`
          to get a list of cryptocurrencies that are no longer active. Pass `untracked`
          to get a list of cryptocurrencies that are listed but do not yet meet methodology
          requirements to have tracked markets available. You may pass one or more
          comma-separated values.
        default: active
        pattern: "^(active|inactive|untracked)+(?:,(active|inactive|untracked)+)*$"
        name: listing_status
        in: query
      - type: integer
        description: Optionally offset the start (1-based index) of the paginated
          list of items to return.
        default: 1
        minimum: 1
        name: start
        in: query
      - type: integer
        description: Optionally specify the number of results to return. Use this
          parameter and the "start" parameter to determine your own pagination size.
        minimum: 1
        maximum: 5000
        name: limit
        in: query
      - type: string
        description: What field to sort the list of cryptocurrencies by.
        default: id
        enum:
        - cmc_rank
        - id
        name: sort
        in: query
      - type: string
        description: Optionally pass a comma-separated list of cryptocurrency symbols
          to return CoinMarketCap IDs for. If this option is passed, other options
          will be ignored.
        pattern: "^[0-9A-Za-z$@\\-,]+(?:,[0-9A-Za-z$@\\-]+)*$"
        name: symbol
        in: query
      - type: string
        description: Optionally specify a comma-separated list of supplemental data
          fields to return. Pass `platform,first_historical_data,last_historical_data,is_active,status`
          to include all auxiliary fields.
        default: platform,first_historical_data,last_historical_data,is_active
        pattern: "^(platform|first_historical_data|last_historical_data|is_active|status)+(?:,(platform|first_historical_data|last_historical_data|is_active|status)+)*$"
        name: aux
        in: query
      tags:
      - cryptocurrency
      responses:
        '200':
          schema:
            "$ref": "#/definitions/Cryptocurrency Map - Response Model"
          description: Successful
        '400':
          description: Bad Request
          schema:
            "$ref": "#/definitions/HTTP Status 400 Error Object"
            description: Bad Request
        '401':
          description: Unauthorized
          schema:
            "$ref": "#/definitions/HTTP Status 401 Error Object"
            description: Unauthorized
        '403':
          description: Forbidden
          schema:
            "$ref": "#/definitions/HTTP Status 403 Error Object"
            description: Forbidden
        '429':
          description: Too Many Requests
          schema:
            "$ref": "#/definitions/HTTP Status 429 Error Object"
            description: Too Many Requests
        '500':
          description: Internal Server Error
          schema:
            "$ref": "#/definitions/HTTP Status 500 Error Object"
            description: Internal Server Error
  "/v1/exchange/info":
    get:
      summary: Metadata
      operationId: getV1ExchangeInfo
      description: "Returns all static metadata for one or more exchanges. This information
        includes details like launch date, logo, official website URL, social links,
        and market fee documentation URL.\n\n  **This endpoint is available on the
        following <a href=\"https://coinmarketcap.com/api/features\" target=\"_blank\">API
        plans</a>:**\n  - Basic\n  - Hobbyist\n  - Startup\n  - Standard\n  - Professional\n
        \ - Enterprise\n\n**Cache / Update frequency:** Static data is updated only
        as needed, every 30 seconds.  \n**Plan credit use:** 1 call credit per 100
        exchanges returned (rounded up).  \n**CMC equivalent pages:** Exchange detail
        page metadata like [coinmarketcap.com/exchanges/binance/](https://coinmarketcap.com/exchanges/binance/).
        \ "
      parameters:
      - type: string
        description: 'One or more comma-separated CoinMarketCap cryptocurrency exchange
          ids. Example: "1,2"'
        pattern: "^\\d+(?:,\\d+)*$"
        name: id
        in: query
      - type: string
        description: 'Alternatively, one or more comma-separated exchange names in
          URL friendly shorthand "slug" format (all lowercase, spaces replaced with
          hyphens). Example: "binance,gdax". At least one "id" *or* "slug" is required.'
        pattern: "^[0-9a-z-]+(?:,[0-9a-z-]+)*$"
        x-convert:
          lowercase: true
        name: slug
        in: query
      - type: string
        description: Optionally specify a comma-separated list of supplemental data
          fields to return. Pass `urls,logo,description,date_launched,notice,status`
          to include all auxiliary fields.
        default: urls,logo,description,date_launched,notice
        pattern: "^(urls|logo|description|date_launched|notice|status)+(?:,(urls|logo|description|date_launched|notice|status)+)*$"
        name: aux
        in: query
      tags:
      - exchange
      responses:
        '200':
          schema:
            "$ref": "#/definitions/Exchanges Info - Response Model"
          description: Successful
        '400':
          description: Bad Request
          schema:
            "$ref": "#/definitions/HTTP Status 400 Error Object"
            description: Bad Request
        '401':
          description: Unauthorized
          schema:
            "$ref": "#/definitions/HTTP Status 401 Error Object"
            description: Unauthorized
        '403':
          description: Forbidden
          schema:
            "$ref": "#/definitions/HTTP Status 403 Error Object"
            description: Forbidden
        '429':
          description: Too Many Requests
          schema:
            "$ref": "#/definitions/HTTP Status 429 Error Object"
            description: Too Many Requests
        '500':
          description: Internal Server Error
          schema:
            "$ref": "#/definitions/HTTP Status 500 Error Object"
            description: Internal Server Error
  "/v1/exchange/map":
    get:
      summary: CoinMarketCap ID Map
      operationId: getV1ExchangeMap
      description: "Returns a paginated list of all active cryptocurrency exchanges
        by CoinMarketCap ID. We recommend using this convenience endpoint to lookup
        and utilize our unique exchange `id` across all endpoints as typical exchange
        identifiers may change over time. As a convenience you may pass a comma-separated
        list of exchanges by `slug` to filter this list to only those you require
        or the `aux` parameter to slim down the payload.\n\nBy default this endpoint
        returns exchanges that have at least 1 actively tracked market. You may receive
        a map of all inactive cryptocurrencies by passing `listing_status=inactive`.
        You may also receive a map of registered exchanges that are listed but do
        not yet meet methodology requirements to have tracked markets available via
        `listing_status=untracked`. Please review **(3) Listing Tiers** in our <a
        target=\"_blank\" href=\"https://coinmarketcap.com/methodology/\">methodology
        documentation</a> for additional details on listing states. \n\n**This endpoint
        is available on the following <a href=\"https://coinmarketcap.com/api/features\"
        target=\"_blank\">API plans</a>:**\n  - Basic\n  - Hobbyist\n  - Startup\n
        \ - Standard\n  - Professional\n  - Enterprise\n\n**Cache / Update frequency:**
        Mapping data is updated only as needed, every 30 seconds.  \n**Plan credit
        use:** 1 call credit per call.  \n**CMC equivalent pages:** No equivalent,
        this data is only available via API.  "
      parameters:
      - type: string
        description: Only active exchanges are returned by default. Pass `inactive`
          to get a list of exchanges that are no longer active. Pass `untracked` to
          get a list of exchanges that are registered but do not currently meet methodology
          requirements to have active markets tracked. You may pass one or more comma-separated
          values.
        default: active
        pattern: "^(active|inactive|untracked)+(?:,(active|inactive|untracked)+)*$"
        name: listing_status
        in: query
      - type: string
        description: Optionally pass a comma-separated list of exchange slugs (lowercase
          URL friendly shorthand name with spaces replaced with dashes) to return
          CoinMarketCap IDs for. If this option is passed, other options will be ignored.
        pattern: "^[0-9a-z-]+(?:,[0-9a-z-]+)*$"
        x-convert:
          lowercase: true
        name: slug
        in: query
      - type: integer
        description: Optionally offset the start (1-based index) of the paginated
          list of items to return.
        default: 1
        minimum: 1
        name: start
        in: query
      - type: integer
        description: Optionally specify the number of results to return. Use this
          parameter and the "start" parameter to determine your own pagination size.
        minimum: 1
        maximum: 5000
        name: limit
        in: query
      - type: string
        description: What field to sort the list of exchanges by.
        default: id
        enum:
        - volume_24h
        - id
        name: sort
        in: query
      - type: string
        description: Optionally specify a comma-separated list of supplemental data
          fields to return. Pass `first_historical_data,last_historical_data,is_active,status`
          to include all auxiliary fields.
        default: first_historical_data,last_historical_data,is_active
        pattern: "^(first_historical_data|last_historical_data|is_active|status)+(?:,(first_historical_data|last_historical_data|is_active|status)+)*$"
        name: aux
        in: query
      - type: string
        description: Optionally include one fiat or cryptocurrency IDs to filter market
          pairs by. For example `?crypto_id=1` would only return exchanges that have
          BTC.
        pattern: "^\\d*$"
        name: crypto_id
        in: query
      tags:
      - exchange
      responses:
        '200':
          schema:
            "$ref": "#/definitions/Exchange Map - Response Model"
          description: Successful
        '400':
          description: Bad Request
          schema:
            "$ref": "#/definitions/HTTP Status 400 Error Object"
            description: Bad Request
        '401':
          description: Unauthorized
          schema:
            "$ref": "#/definitions/HTTP Status 401 Error Object"
            description: Unauthorized
        '403':
          description: Forbidden
          schema:
            "$ref": "#/definitions/HTTP Status 403 Error Object"
            description: Forbidden
        '429':
          description: Too Many Requests
          schema:
            "$ref": "#/definitions/HTTP Status 429 Error Object"
            description: Too Many Requests
        '500':
          description: Internal Server Error
          schema:
            "$ref": "#/definitions/HTTP Status 500 Error Object"
            description: Internal Server Error
  "/v1/fiat/map":
    get:
      summary: CoinMarketCap ID Map
      operationId: getV1FiatMap
      description: "Returns a mapping of all supported fiat currencies to unique CoinMarketCap
        ids. Per our Best Practices we recommend utilizing CMC ID instead of currency
        symbols to securely identify assets with our other endpoints and in your own
        application logic. \n\n  **This endpoint is available on the following <a
        href=\"https://coinmarketcap.com/api/features\" target=\"_blank\">API plans</a>:**\n
        \ - Basic\n  - Hobbyist\n  - Startup\n  - Standard\n  - Professional\n  -
        Enterprise\n\n**Cache / Update frequency:** Mapping data is updated only as
        needed, every 30 seconds.  \n**Plan credit use:** 1 API call credit per request
        no matter query size.  \n**CMC equivalent pages:** No equivalent, this data
        is only available via API."
      parameters:
      - type: integer
        description: Optionally offset the start (1-based index) of the paginated
          list of items to return.
        default: 1
        minimum: 1
        name: start
        in: query
      - type: integer
        description: Optionally specify the number of results to return. Use this
          parameter and the "start" parameter to determine your own pagination size.
        minimum: 1
        maximum: 5000
        name: limit
        in: query
      - type: string
        description: What field to sort the list by.
        default: id
        enum:
        - name
        - id
        name: sort
        in: query
      - type: boolean
        description: Pass `true` to include precious metals.
        default: false
        name: include_metals
        in: query
      tags:
      - fiat
      responses:
        '200':
          schema:
            "$ref": "#/definitions/Fiat Map - Response Model"
          description: Successful
        '400':
          description: Bad Request
          schema:
            "$ref": "#/definitions/HTTP Status 400 Error Object"
            description: Bad Request
        '401':
          description: Unauthorized
          schema:
            "$ref": "#/definitions/HTTP Status 401 Error Object"
            description: Unauthorized
        '403':
          description: Forbidden
          schema:
            "$ref": "#/definitions/HTTP Status 403 Error Object"
            description: Forbidden
        '429':
          description: Too Many Requests
          schema:
            "$ref": "#/definitions/HTTP Status 429 Error Object"
            description: Too Many Requests
        '500':
          description: Internal Server Error
          schema:
            "$ref": "#/definitions/HTTP Status 500 Error Object"
            description: Internal Server Error
  "/v1/key/info":
    get:
      summary: Key Info
      operationId: getV1KeyInfo
      description: "Returns API key details and usage stats. This endpoint can be
        used to programmatically monitor your key usage compared to the rate limit
        and daily/monthly credit limits available to your API plan. You may use the
        Developer Portal's account dashboard as an alternative to this endpoint.\n\n
        \ **This endpoint is available on the following <a href=\"https://coinmarketcap.com/api/features\"
        target=\"_blank\">API plans</a>:**\n  - Basic\n  - Hobbyist\n  - Startup\n
        \ - Standard\n  - Professional\n  - Enterprise\n\n  **Cache / Update frequency:**
        No cache, this endpoint updates as requests are made with your key.  \n  **Plan
        credit use:** No API credit cost. Requests to this endpoint do contribute
        to your minute based rate limit however.  \n  **CMC equivalent pages:** Our
        Developer Portal dashboard for your API Key at [pro.coinmarketcap.com/account](https://pro.coinmarketcap.com/account)."
      tags:
      - key
      responses:
        '200':
          schema:
            "$ref": "#/definitions/Account Info - Response Model"
          description: Successful
        '400':
          description: Bad Request
          schema:
            "$ref": "#/definitions/HTTP Status 400 Error Object"
            description: Bad Request
        '401':
          description: Unauthorized
          schema:
            "$ref": "#/definitions/HTTP Status 401 Error Object"
            description: Unauthorized
        '403':
          description: Forbidden
          schema:
            "$ref": "#/definitions/HTTP Status 403 Error Object"
            description: Forbidden
        '429':
          description: Too Many Requests
          schema:
            "$ref": "#/definitions/HTTP Status 429 Error Object"
            description: Too Many Requests
        '500':
          description: Internal Server Error
          schema:
            "$ref": "#/definitions/HTTP Status 500 Error Object"
            description: Internal Server Error
  "/v1/tools/price-conversion":
    get:
      summary: Price Conversion
      operationId: getV1ToolsPriceconversion
      description: "Convert an amount of one cryptocurrency or fiat currency into
        one or more different currencies utilizing the latest market rate for each
        currency. You may optionally pass a historical timestamp as `time` to convert
        values based on historical rates (as your API plan supports). \n  \n**Technical
        Notes**\n- Latest market rate conversions are accurate to 1 minute of specificity.
        Historical conversions are accurate to 1 minute of specificity outside of
        non-USD fiat conversions which have 5 minute specificity. \n- You may reference
        a current list of all supported cryptocurrencies via the <a href=\"/api/v1/#section/Standards-and-Conventions\"
        target=\"_blank\">cryptocurrency/map</a> endpoint. This endpoint also returns
        the supported date ranges for historical conversions via the `first_historical_data`
        and `last_historical_data` properties.   \n- Conversions are supported in
        93 different fiat currencies and 4 precious metals <a href=\"/api/v1/#section/Standards-and-Conventions\"
        target=\"_blank\">as outlined here</a>. Historical fiat conversions are supported
        as far back as 2013-04-28.\n- A `last_updated` timestamp is included for both
        your source currency and each conversion currency. This is the timestamp of
        the closest market rate record referenced for each currency during the conversion.
        \ \n\n**This endpoint is available on the following <a href=\"https://coinmarketcap.com/api/features\"
        target=\"_blank\">API plans</a>:**\n- Basic (Latest market price conversions)\n-
        Hobbyist (Latest market price conversions + 1 month historical)\n- Startup
        (Latest market price conversions + 1 month historical)\n- Standard (Latest
        market price conversions + 3 months historical)\n- Professional (Latest market
        price conversions + 12 months historical)\n- Enterprise (Latest market price
        conversions + up to 6 years historical)\n\n**Cache / Update frequency:** Every
        60 seconds for the lastest cryptocurrency and fiat currency rates.    \n**Plan
        credit use:** 1 call credit per call and 1 call credit per `convert` option
        beyond the first.  \n**CMC equivalent pages:** Our cryptocurrency conversion
        page at [coinmarketcap.com/converter/](https://coinmarketcap.com/converter/).
        \ "
      parameters:
      - type: number
        description: 'An amount of currency to convert. Example: 10.43'
        minimum: 1.0e-08
        maximum: 1000000000000
        name: amount
        in: query
        required: true
      - type: string
        description: 'The CoinMarketCap currency ID of the base cryptocurrency or
          fiat to convert from. Example: "1"'
        pattern: "^\\d*$"
        name: id
        in: query
      - type: string
        description: 'Alternatively the currency symbol of the base cryptocurrency
          or fiat to convert from. Example: "BTC". One "id" *or* "symbol" is required.'
        pattern: "^[0-9A-Za-z$@\\-]*$"
        name: symbol
        in: query
      - type: string
        description: Optional timestamp (Unix or ISO 8601) to reference historical
          pricing during conversion. If not passed, the current time will be used.
          If passed, we'll reference the closest historic values available for this
          conversion.
        name: time
        in: query
      - type: string
        description: Pass up to 120 comma-separated fiat or cryptocurrency symbols
          to convert the source amount to.
        pattern: "^[0-9A-Za-z$@\\-,]+(?:,[0-9A-Za-z$@\\-]+)*$"
        name: convert
        in: query
      - type: string
        description: 'Optionally calculate market quotes by CoinMarketCap ID instead
          of symbol. This option is identical to `convert` outside of ID format. Ex:
          convert_id=1,2781 would replace convert=BTC,USD in your query. This parameter
          cannot be used when `convert` is used.'
        pattern: "^\\d+(?:,\\d+)*$"
        name: convert_id
        in: query
      tags:
      - tools
      responses:
        '200':
          schema:
            "$ref": "#/definitions/Tools Price Conversion - Response Model"
          description: Successful
        '400':
          description: Bad Request
          schema:
            "$ref": "#/definitions/HTTP Status 400 Error Object"
            description: Bad Request
        '401':
          description: Unauthorized
          schema:
            "$ref": "#/definitions/HTTP Status 401 Error Object"
            description: Unauthorized
        '403':
          description: Forbidden
          schema:
            "$ref": "#/definitions/HTTP Status 403 Error Object"
            description: Forbidden
        '429':
          description: Too Many Requests
          schema:
            "$ref": "#/definitions/HTTP Status 429 Error Object"
            description: Too Many Requests
        '500':
          description: Internal Server Error
          schema:
            "$ref": "#/definitions/HTTP Status 500 Error Object"
            description: Internal Server Error
  "/v1/blockchain/statistics/latest":
    get:
      summary: Statistics Latest
      operationId: getV1BlockchainStatisticsLatest
      description: "Returns the latest blockchain statistics data for 1 or more blockchains.
        Bitcoin, Litecoin, and Ethereum are currently supported. Additional blockchains
        will be made available on a regular basis.  \n\n\n \n  **This endpoint is
        available on the following <a href=\"https://coinmarketcap.com/api/features\"
        target=\"_blank\">API plans</a>:**\n  - ~~Basic~~\n  - ~~Hobbyist~~\n  - ~~Startup~~\n
        \ - ~~Standard~~\n  - ~~Professional~~\n  - Enterprise\n\n**Cache / Update
        frequency:** Every 15 seconds.  \n**Plan credit use:** 1 call credit per request.
        \ \n**CMC equivalent pages:** Our blockchain explorer pages like [blockchain.coinmarketcap.com/](https://blockchain.coinmarketcap.com/)."
      parameters:
      - type: string
        description: One or more comma-separated cryptocurrency CoinMarketCap IDs
          to return blockchain data for. Pass `1,2,1027` to request all currently
          supported blockchains.
        pattern: "^\\d+(?:,\\d+)*$"
        name: id
        in: query
      - type: string
        description: Alternatively pass one or more comma-separated cryptocurrency
          symbols. Pass `BTC,LTC,ETH` to request all currently supported blockchains.
        pattern: "^[0-9A-Za-z$@\\-,]+(?:,[0-9A-Za-z$@\\-]+)*$"
        name: symbol
        in: query
      - type: string
        description: Alternatively pass a comma-separated list of cryptocurrency slugs.
          Pass `bitcoin,litecoin,ethereum` to request all currently supported blockchains.
        pattern: "^[0-9a-z-]+(?:,[0-9a-z-]+)*$"
        x-convert:
          lowercase: true
        name: slug
        in: query
      tags:
      - blockchain
      responses:
        '200':
          schema:
            "$ref": "#/definitions/Blockchain Statistics Latest - Response Model"
          description: Successful
        '400':
          description: Bad Request
          schema:
            "$ref": "#/definitions/HTTP Status 400 Error Object"
            description: Bad Request
        '401':
          description: Unauthorized
          schema:
            "$ref": "#/definitions/HTTP Status 401 Error Object"
            description: Unauthorized
        '403':
          description: Forbidden
          schema:
            "$ref": "#/definitions/HTTP Status 403 Error Object"
            description: Forbidden
        '429':
          description: Too Many Requests
          schema:
            "$ref": "#/definitions/HTTP Status 429 Error Object"
            description: Too Many Requests
        '500':
          description: Internal Server Error
          schema:
            "$ref": "#/definitions/HTTP Status 500 Error Object"
            description: Internal Server Error
  "/v1/cryptocurrency/listings/historical":
    get:
      summary: Listings Historical
      operationId: getV1CryptocurrencyListingsHistorical
      description: "Returns a ranked and sorted list of all cryptocurrencies for a
        historical UTC date.  \n\n\n**Technical Notes**\n- This endpoint is identical
        in format to our [/cryptocurrency/listings/latest](#operation/getV1CryptocurrencyListingsLatest)
        endpoint but is used to retrieve historical daily ranking snapshots from the
        end of each UTC day.  \n- Daily snapshots reflect market data at the end of
        each UTC day and may be requested as far back as 2013-04-28 (as supported
        by your plan's historical limits).  \n- The required \"date\" parameter can
        be passed as a Unix timestamp or ISO 8601 date but only the date portion of
        the timestamp will be referenced. It is recommended to send an ISO date format
        like \"2019-10-10\" without time.\n- This endpoint is for retrieving paginated
        and sorted lists of all currencies. If you require historical market data
        on specific cryptocurrencies you should use [/cryptocurrency/quotes/historical](#operation/getV1CryptocurrencyQuotesHistorical).\n
        \  \n\n\nCryptocurrencies are listed by cmc_rank by default. You may optionally
        sort against any of the following:  \n**cmc_rank**: CoinMarketCap's market
        cap rank as outlined in <a href=\"https://coinmarketcap.com/methodology/\"
        target=\"_blank\">our methodology</a>.  \n**name**: The cryptocurrency name.
        \ \n**symbol**: The cryptocurrency symbol.  \n**market_cap**: market cap (latest
        trade price x circulating supply).  \n**price**: latest average trade price
        across markets.  \n**circulating_supply**: approximate number of coins currently
        in circulation.  \n**total_supply**: approximate total amount of coins in
        existence right now (minus any coins that have been verifiably burned).  \n**max_supply**:
        our best approximation of the maximum amount of coins that will ever exist
        in the lifetime of the currency.  \n**num_market_pairs**: number of market
        pairs across all exchanges trading each currency.  \n**volume_24h**: 24 hour
        trading volume for each currency.  \n**percent_change_1h**: 1 hour trading
        price percentage change for each currency.  \n**percent_change_24h**: 24 hour
        trading price percentage change for each currency.  \n**percent_change_7d**:
        7 day trading price percentage change for each currency.  \n \n  **This endpoint
        is available on the following <a href=\"https://coinmarketcap.com/api/features\"
        target=\"_blank\">API plans</a>:**\n  - ~~Basic~~\n  - ~~Hobbyist~~\n  - ~~Startup~~\n
        \ - Standard (3 months)\n  - Professional (12 months)\n  - Enterprise (Up
        to 6 years)\n\n**Cache / Update frequency:** The last completed UTC day is
        available 30 minutes after midnight on the next UTC day.  \n**Plan credit
        use:** 1 call credit per 100 cryptocurrencies returned (rounded up) and 1
        call credit per `convert` option beyond the first.  \n**CMC equivalent pages:**
        Our historical daily crypto ranking snapshot pages like this one on [February
        02, 2014](https://coinmarketcap.com/historical/20140202/)."
      parameters:
      - type: string
        description: date (Unix or ISO 8601) to reference day of snapshot.
        name: date
        in: query
        required: true
      - type: integer
        description: Optionally offset the start (1-based index) of the paginated
          list of items to return.
        default: 1
        minimum: 1
        name: start
        in: query
      - type: integer
        description: Optionally specify the number of results to return. Use this
          parameter and the "start" parameter to determine your own pagination size.
        default: 100
        minimum: 1
        maximum: 5000
        name: limit
        in: query
      - type: string
        description: Optionally calculate market quotes in up to 120 currencies at
          once by passing a comma-separated list of cryptocurrency or fiat currency
          symbols. Each additional convert option beyond the first requires an additional
          call credit. A list of supported fiat options can be found [here](#section/Standards-and-Conventions).
          Each conversion is returned in its own "quote" object.
        pattern: "^[0-9A-Za-z$@\\-,]+(?:,[0-9A-Za-z$@\\-]+)*$"
        name: convert
        in: query
      - type: string
        description: 'Optionally calculate market quotes by CoinMarketCap ID instead
          of symbol. This option is identical to `convert` outside of ID format. Ex:
          convert_id=1,2781 would replace convert=BTC,USD in your query. This parameter
          cannot be used when `convert` is used.'
        pattern: "^\\d+(?:,\\d+)*$"
        name: convert_id
        in: query
      - type: string
        description: What field to sort the list of cryptocurrencies by.
        default: cmc_rank
        enum:
        - cmc_rank
        - name
        - symbol
        - market_cap
        - price
        - circulating_supply
        - total_supply
        - max_supply
        - num_market_pairs
        - volume_24h
        - percent_change_1h
        - percent_change_24h
        - percent_change_7d
        name: sort
        in: query
      - type: string
        description: The direction in which to order cryptocurrencies against the
          specified sort.
        enum:
        - asc
        - desc
        name: sort_dir
        in: query
      - type: string
        description: The type of cryptocurrency to include.
        default: all
        enum:
        - all
        - coins
        - tokens
        name: cryptocurrency_type
        in: query
      - type: string
        description: Optionally specify a comma-separated list of supplemental data
          fields to return. Pass `platform,tags,date_added,circulating_supply,total_supply,max_supply,cmc_rank,num_market_pairs`
          to include all auxiliary fields.
        default: platform,tags,date_added,circulating_supply,total_supply,max_supply,cmc_rank,num_market_pairs
        pattern: "^(platform|tags|date_added|circulating_supply|total_supply|max_supply|cmc_rank|num_market_pairs)+(?:,(platform|tags|date_added|circulating_supply|total_supply|max_supply|cmc_rank|num_market_pairs)+)*$"
        name: aux
        in: query
      tags:
      - cryptocurrency
      responses:
        '200':
          schema:
            "$ref": "#/definitions/Cryptocurrency Listings Latest - Response Model"
          description: Successful
        '400':
          description: Bad Request
          schema:
            "$ref": "#/definitions/HTTP Status 400 Error Object"
            description: Bad Request
        '401':
          description: Unauthorized
          schema:
            "$ref": "#/definitions/HTTP Status 401 Error Object"
            description: Unauthorized
        '403':
          description: Forbidden
          schema:
            "$ref": "#/definitions/HTTP Status 403 Error Object"
            description: Forbidden
        '429':
          description: Too Many Requests
          schema:
            "$ref": "#/definitions/HTTP Status 429 Error Object"
            description: Too Many Requests
        '500':
          description: Internal Server Error
          schema:
            "$ref": "#/definitions/HTTP Status 500 Error Object"
            description: Internal Server Error
  "/v1/cryptocurrency/listings/latest":
    get:
      summary: Listings Latest
      operationId: getV1CryptocurrencyListingsLatest
      description: "Returns a paginated list of all active cryptocurrencies with latest
        market data. The default \"market_cap\" sort returns cryptocurrency in order
        of CoinMarketCap's market cap rank (as outlined in <a href=\"https://coinmarketcap.com/methodology/\"
        target=\"_blank\">our methodology</a>) but you may configure this call to
        order by another market ranking field. Use the \"convert\" option to return
        market values in multiple fiat and cryptocurrency conversions in the same
        call.\n\n\nYou may sort against any of the following:  \n**market_cap**: CoinMarketCap's
        market cap rank as outlined in <a href=\"https://coinmarketcap.com/methodology/\"
        target=\"_blank\">our methodology</a>.  \n**market_cap_strict**: A strict
        market cap sort (latest trade price x circulating supply).  \n**name**: The
        cryptocurrency name.  \n**symbol**: The cryptocurrency symbol.  \n**date_added**:
        Date cryptocurrency was added to the system.  \n**price**: latest average
        trade price across markets.  \n**circulating_supply**: approximate number
        of coins currently in circulation.  \n**total_supply**: approximate total
        amount of coins in existence right now (minus any coins that have been verifiably
        burned).  \n**max_supply**: our best approximation of the maximum amount of
        coins that will ever exist in the lifetime of the currency.  \n**num_market_pairs**:
        number of market pairs across all exchanges trading each currency.  \n**market_cap_by_total_supply_strict**:
        market cap by total supply.  \n**volume_24h**: rolling 24 hour adjusted trading
        volume.  \n**volume_7d**: rolling 24 hour adjusted trading volume.  \n**volume_30d**:
        rolling 24 hour adjusted trading volume.  \n**percent_change_1h**: 1 hour
        trading price percentage change for each currency.  \n**percent_change_24h**:
        24 hour trading price percentage change for each currency.  \n**percent_change_7d**:
        7 day trading price percentage change for each currency.  \n\n  **This endpoint
        is available on the following <a href=\"https://coinmarketcap.com/api/features\"
        target=\"_blank\">API plans</a>:**\n  - Basic\n  - Hobbyist\n  - Startup\n
        \ - Standard\n  - Professional\n  - Enterprise\n\n**Cache / Update frequency:**
        Every 60 seconds.  \n**Plan credit use:** 1 call credit per 200 cryptocurrencies
        returned (rounded up) and 1 call credit per `convert` option beyond the first.
        \ \n**CMC equivalent pages:** Our latest cryptocurrency listing and ranking
        pages like [coinmarketcap.com/all/views/all/](https://coinmarketcap.com/all/views/all/),
        [coinmarketcap.com/tokens/](https://coinmarketcap.com/tokens/), [coinmarketcap.com/gainers-losers/](https://coinmarketcap.com/gainers-losers/),
        [coinmarketcap.com/new/](https://coinmarketcap.com/new/).     \n  \n***NOTE:**
        Use this endpoint if you need a sorted and paginated list of all cryptocurrencies.
        If you want to query for market data on a few specific cryptocurrencies use
        [/v1/cryptocurrency/quotes/latest](#operation/getV1CryptocurrencyQuotesLatest)
        which is optimized for that purpose. The response data between these endpoints
        is otherwise the same.* "
      parameters:
      - type: integer
        description: Optionally offset the start (1-based index) of the paginated
          list of items to return.
        default: 1
        minimum: 1
        name: start
        in: query
      - type: integer
        description: Optionally specify the number of results to return. Use this
          parameter and the "start" parameter to determine your own pagination size.
        default: 100
        minimum: 1
        maximum: 5000
        name: limit
        in: query
      - type: number
        description: Optionally specify a threshold of minimum USD price to filter
          results by.
        minimum: 0
        maximum: 100000000000000000
        name: price_min
        in: query
      - type: number
        description: Optionally specify a threshold of maximum USD price to filter
          results by.
        minimum: 0
        maximum: 100000000000000000
        name: price_max
        in: query
      - type: number
        description: Optionally specify a threshold of minimum market cap to filter
          results by.
        minimum: 0
        maximum: 100000000000000000
        name: market_cap_min
        in: query
      - type: number
        description: Optionally specify a threshold of maximum market cap to filter
          results by.
        minimum: 0
        maximum: 100000000000000000
        name: market_cap_max
        in: query
      - type: number
        description: Optionally specify a threshold of minimum 24 hour USD volume
          to filter results by.
        minimum: 0
        maximum: 100000000000000000
        name: volume_24h_min
        in: query
      - type: number
        description: Optionally specify a threshold of maximum 24 hour USD volume
          to filter results by.
        minimum: 0
        maximum: 100000000000000000
        name: volume_24h_max
        in: query
      - type: number
        description: Optionally specify a threshold of minimum circulating supply
          to filter results by.
        minimum: 0
        maximum: 100000000000000000
        name: circulating_supply_min
        in: query
      - type: number
        description: Optionally specify a threshold of maximum circulating supply
          to filter results by.
        minimum: 0
        maximum: 100000000000000000
        name: circulating_supply_max
        in: query
      - type: number
        description: Optionally specify a threshold of minimum 24 hour percent change
          to filter results by.
        minimum: -100
        name: percent_change_24h_min
        in: query
      - type: number
        description: Optionally specify a threshold of maximum 24 hour percent change
          to filter results by.
        minimum: -100
        name: percent_change_24h_max
        in: query
      - type: string
        description: Optionally calculate market quotes in up to 120 currencies at
          once by passing a comma-separated list of cryptocurrency or fiat currency
          symbols. Each additional convert option beyond the first requires an additional
          call credit. A list of supported fiat options can be found [here](#section/Standards-and-Conventions).
          Each conversion is returned in its own "quote" object.
        pattern: "^[0-9A-Za-z$@\\-,]+(?:,[0-9A-Za-z$@\\-]+)*$"
        name: convert
        in: query
      - type: string
        description: 'Optionally calculate market quotes by CoinMarketCap ID instead
          of symbol. This option is identical to `convert` outside of ID format. Ex:
          convert_id=1,2781 would replace convert=BTC,USD in your query. This parameter
          cannot be used when `convert` is used.'
        pattern: "^\\d+(?:,\\d+)*$"
        name: convert_id
        in: query
      - type: string
        description: What field to sort the list of cryptocurrencies by.
        default: market_cap
        enum:
        - name
        - symbol
        - date_added
        - market_cap
        - market_cap_strict
        - price
        - circulating_supply
        - total_supply
        - max_supply
        - num_market_pairs
        - volume_24h
        - percent_change_1h
        - percent_change_24h
        - percent_change_7d
        - market_cap_by_total_supply_strict
        - volume_7d
        - volume_30d
        name: sort
        in: query
      - type: string
        description: The direction in which to order cryptocurrencies against the
          specified sort.
        enum:
        - asc
        - desc
        name: sort_dir
        in: query
      - type: string
        description: The type of cryptocurrency to include.
        default: all
        enum:
        - all
        - coins
        - tokens
        name: cryptocurrency_type
        in: query
      - type: string
        description: The tag of cryptocurrency to include.
        default: all
        enum:
        - all
        - defi
        - filesharing
        name: tag
        in: query
      - type: string
        description: Optionally specify a comma-separated list of supplemental data
          fields to return. Pass `num_market_pairs,cmc_rank,date_added,tags,platform,max_supply,circulating_supply,total_supply,market_cap_by_total_supply,volume_24h_reported,volume_7d,volume_7d_reported,volume_30d,volume_30d_reported,is_market_cap_included_in_calc`
          to include all auxiliary fields.
        default: num_market_pairs,cmc_rank,date_added,tags,platform,max_supply,circulating_supply,total_supply
        pattern: "^(num_market_pairs|cmc_rank|date_added|tags|platform|max_supply|circulating_supply|total_supply|market_cap_by_total_supply|volume_24h_reported|volume_7d|volume_7d_reported|volume_30d|volume_30d_reported|is_market_cap_included_in_calc)+(?:,(num_market_pairs|cmc_rank|date_added|tags|platform|max_supply|circulating_supply|total_supply|market_cap_by_total_supply|volume_24h_reported|volume_7d|volume_7d_reported|volume_30d|volume_30d_reported|is_market_cap_included_in_calc)+)*$"
        name: aux
        in: query
      tags:
      - cryptocurrency
      responses:
        '200':
          schema:
            "$ref": "#/definitions/Cryptocurrency Listings Latest - Response Model
              1"
          description: Successful
        '400':
          description: Bad Request
          schema:
            "$ref": "#/definitions/HTTP Status 400 Error Object"
            description: Bad Request
        '401':
          description: Unauthorized
          schema:
            "$ref": "#/definitions/HTTP Status 401 Error Object"
            description: Unauthorized
        '403':
          description: Forbidden
          schema:
            "$ref": "#/definitions/HTTP Status 403 Error Object"
            description: Forbidden
        '429':
          description: Too Many Requests
          schema:
            "$ref": "#/definitions/HTTP Status 429 Error Object"
            description: Too Many Requests
        '500':
          description: Internal Server Error
          schema:
            "$ref": "#/definitions/HTTP Status 500 Error Object"
            description: Internal Server Error
  "/v1/cryptocurrency/listings/new":
    get:
      summary: Listings New
      operationId: getV1CryptocurrencyListingsNew
      description: "Returns a paginated list of most recently added cryptocurrencies.\n\n\n
        \ **This endpoint is available on the following <a href=\"https://coinmarketcap.com/api/features\"
        target=\"_blank\">API plans</a>:**\n  - Startup\n  - Standard\n  - Professional\n
        \ - Enterprise\n\n**Cache / Update frequency:** Every 60 seconds.  \n**Plan
        credit use:** 1 call credit per 200 cryptocurrencies returned (rounded up)
        and 1 call credit per `convert` option beyond the first.  \n**CMC equivalent
        pages:** Our \"new\" cryptocurrency page [coinmarketcap.com/new/](https://coinmarketcap.com/new)\n
        \ \n***NOTE:** Use this endpoint if you need a sorted and paginated list of
        all recently added cryptocurrencies.* "
      parameters:
      - type: integer
        description: Optionally offset the start (1-based index) of the paginated
          list of items to return.
        default: 1
        minimum: 1
        name: start
        in: query
      - type: integer
        description: Optionally specify the number of results to return. Use this
          parameter and the "start" parameter to determine your own pagination size.
        default: 100
        minimum: 1
        maximum: 5000
        name: limit
        in: query
      - type: string
        description: Optionally calculate market quotes in up to 120 currencies at
          once by passing a comma-separated list of cryptocurrency or fiat currency
          symbols. Each additional convert option beyond the first requires an additional
          call credit. A list of supported fiat options can be found [here](#section/Standards-and-Conventions).
          Each conversion is returned in its own "quote" object.
        pattern: "^[0-9A-Za-z$@\\-,]+(?:,[0-9A-Za-z$@\\-]+)*$"
        name: convert
        in: query
      - type: string
        description: 'Optionally calculate market quotes by CoinMarketCap ID instead
          of symbol. This option is identical to `convert` outside of ID format. Ex:
          convert_id=1,2781 would replace convert=BTC,USD in your query. This parameter
          cannot be used when `convert` is used.'
        pattern: "^\\d+(?:,\\d+)*$"
        name: convert_id
        in: query
      - type: string
        description: The direction in which to order cryptocurrencies against the
          specified sort.
        enum:
        - asc
        - desc
        name: sort_dir
        in: query
      tags:
      - cryptocurrency
      responses:
        '200':
          schema:
            "$ref": "#/definitions/Cryptocurrency Listings Latest - Response Model
              1"
          description: Successful
        '400':
          description: Bad Request
          schema:
            "$ref": "#/definitions/HTTP Status 400 Error Object"
            description: Bad Request
        '401':
          description: Unauthorized
          schema:
            "$ref": "#/definitions/HTTP Status 401 Error Object"
            description: Unauthorized
        '403':
          description: Forbidden
          schema:
            "$ref": "#/definitions/HTTP Status 403 Error Object"
            description: Forbidden
        '429':
          description: Too Many Requests
          schema:
            "$ref": "#/definitions/HTTP Status 429 Error Object"
            description: Too Many Requests
        '500':
          description: Internal Server Error
          schema:
            "$ref": "#/definitions/HTTP Status 500 Error Object"
            description: Internal Server Error
  "/v1/cryptocurrency/market-pairs/latest":
    get:
      summary: Market Pairs Latest
      operationId: getV1CryptocurrencyMarketpairsLatest
      description: "Lists all active market pairs that CoinMarketCap tracks for a
        given cryptocurrency or fiat currency. All markets with this currency as the
        pair base *or* pair quote will be returned. The latest price and volume information
        is returned for each market. Use the \"convert\" option to return market values
        in multiple fiat and cryptocurrency conversions in the same call.\n\n\n  **This
        endpoint is available on the following <a href=\"https://coinmarketcap.com/api/features\"
        target=\"_blank\">API plans</a>:**\n  - ~~Basic~~\n  - ~~Hobbyist~~\n  - ~~Startup~~\n
        \ - Standard\n  - Professional\n  - Enterprise\n\n**Cache / Update frequency:**
        Every 1 minute.  \n**Plan credit use:** 1 call credit per 100 market pairs
        returned (rounded up) and 1 call credit per `convert` option beyond the first.
        \ \n**CMC equivalent pages:** Our active cryptocurrency markets pages like
        [coinmarketcap.com/currencies/bitcoin/#markets](https://coinmarketcap.com/currencies/bitcoin/#markets).
        \ "
      parameters:
      - type: string
        description: 'A cryptocurrency or fiat currency by CoinMarketCap ID to list
          market pairs for. Example: "1"'
        name: id
        in: query
      - type: string
        description: 'Alternatively pass a cryptocurrency by slug. Example: "bitcoin"'
        pattern: "^[0-9a-z-]*$"
        x-convert:
          lowercase: true
        name: slug
        in: query
      - type: string
        description: 'Alternatively pass a cryptocurrency by symbol. Fiat currencies
          are not supported by this field. Example: "BTC". A single cryptocurrency
          "id", "slug", *or* "symbol" is required.'
        pattern: "^[0-9A-Za-z$@\\-]*$"
        name: symbol
        in: query
      - type: integer
        description: Optionally offset the start (1-based index) of the paginated
          list of items to return.
        default: 1
        minimum: 1
        name: start
        in: query
      - type: integer
        description: Optionally specify the number of results to return. Use this
          parameter and the "start" parameter to determine your own pagination size.
        default: 100
        minimum: 1
        maximum: 5000
        name: limit
        in: query
      - type: string
        description: Optionally specify the sort direction of markets returned.
        default: desc
        enum:
        - asc
        - desc
        name: sort_dir
        in: query
      - type: string
        description: Optionally specify the sort order of markets returned. By default
          we return a strict sort on 24 hour reported volume. Pass `cmc_rank` to return
          a CMC methodology based sort where markets with excluded volumes are returned
          last.
        default: volume_24h_strict
        enum:
        - volume_24h_strict
        - cmc_rank
        - cmc_rank_advanced
        - effective_liquidity
        - market_score
        - market_reputation
        name: sort
        in: query
      - type: string
        description: Optionally specify a comma-separated list of supplemental data
          fields to return. Pass `num_market_pairs,category,fee_type,market_url,currency_name,currency_slug,price_quote,notice,cmc_rank,effective_liquidity,market_score,market_reputation`
          to include all auxiliary fields.
        default: num_market_pairs,category,fee_type
        pattern: "^(num_market_pairs|category|fee_type|market_url|currency_name|currency_slug|price_quote|notice|cmc_rank|effective_liquidity|market_score|market_reputation)+(?:,(num_market_pairs|category|fee_type|market_url|currency_name|currency_slug|price_quote|notice|cmc_rank|effective_liquidity|market_score|market_reputation)+)*$"
        name: aux
        in: query
      - type: string
        description: 'Optionally include one or more fiat or cryptocurrency IDs to
          filter market pairs by. For example `?id=1&matched_id=2781` would only return
          BTC markets that matched: "BTC/USD" or "USD/BTC". This parameter cannot
          be used when `matched_symbol` is used.'
        pattern: "^\\d+(?:,\\d+)*$"
        name: matched_id
        in: query
      - type: string
        description: 'Optionally include one or more fiat or cryptocurrency symbols
          to filter market pairs by. For example `?symbol=BTC&matched_symbol=USD`
          would only return BTC markets that matched: "BTC/USD" or "USD/BTC". This
          parameter cannot be used when `matched_id` is used.'
        pattern: "^[0-9A-Za-z$@\\-,]+(?:,[0-9A-Za-z$@\\-]+)*$"
        name: matched_symbol
        in: query
      - type: string
        description: The category of trading this market falls under. Spot markets
          are the most common but options include derivatives and OTC.
        default: all
        enum:
        - all
        - spot
        - derivatives
        - otc
        - perpetual
        name: category
        in: query
      - type: string
        description: The fee type the exchange enforces for this market.
        default: all
        enum:
        - all
        - percentage
        - no-fees
        - transactional-mining
        - unknown
        name: fee_type
        in: query
      - type: string
        description: Optionally calculate market quotes in up to 120 currencies at
          once by passing a comma-separated list of cryptocurrency or fiat currency
          symbols. Each additional convert option beyond the first requires an additional
          call credit. A list of supported fiat options can be found [here](#section/Standards-and-Conventions).
          Each conversion is returned in its own "quote" object.
        pattern: "^[0-9A-Za-z$@\\-,]+(?:,[0-9A-Za-z$@\\-]+)*$"
        name: convert
        in: query
      - type: string
        description: 'Optionally calculate market quotes by CoinMarketCap ID instead
          of symbol. This option is identical to `convert` outside of ID format. Ex:
          convert_id=1,2781 would replace convert=BTC,USD in your query. This parameter
          cannot be used when `convert` is used.'
        pattern: "^\\d+(?:,\\d+)*$"
        name: convert_id
        in: query
      tags:
      - cryptocurrency
      responses:
        '200':
          schema:
            "$ref": "#/definitions/Cryptocurrency Market Pairs Latest - Response Model"
          description: Successful
        '400':
          description: Bad Request
          schema:
            "$ref": "#/definitions/HTTP Status 400 Error Object"
            description: Bad Request
        '401':
          description: Unauthorized
          schema:
            "$ref": "#/definitions/HTTP Status 401 Error Object"
            description: Unauthorized
        '403':
          description: Forbidden
          schema:
            "$ref": "#/definitions/HTTP Status 403 Error Object"
            description: Forbidden
        '429':
          description: Too Many Requests
          schema:
            "$ref": "#/definitions/HTTP Status 429 Error Object"
            description: Too Many Requests
        '500':
          description: Internal Server Error
          schema:
            "$ref": "#/definitions/HTTP Status 500 Error Object"
            description: Internal Server Error
  "/v1/cryptocurrency/ohlcv/historical":
    get:
      summary: OHLCV Historical
      operationId: getV1CryptocurrencyOhlcvHistorical
      description: "Returns historical OHLCV (Open, High, Low, Close, Volume) data
        along with market cap for any cryptocurrency using time interval parameters.
        Currently daily and hourly OHLCV periods are supported. Volume is only supported
        with daily periods at this time.   \n  \n**Technical Notes**\n- Only the date
        portion of the timestamp is used for daily OHLCV so it's recommended to send
        an ISO date format like \"2018-09-19\" without time for this \"time_period\".
        \n- One OHLCV quote will be returned for every \"time_period\" between your
        \"time_start\" (exclusive) and \"time_end\" (inclusive).  \n- If a \"time_start\"
        is not supplied, the \"time_period\" will be calculated in reverse from \"time_end\"
        using the \"count\" parameter which defaults to 10 results.  \n- If \"time_end\"
        is not supplied, it defaults to the current time.   \n- If you don't need
        every \"time_period\" between your dates you may adjust the frequency that
        \"time_period\" is sampled using the \"interval\" parameter. For example with
        \"time_period\" set to \"daily\" you may set \"interval\" to \"2d\" to get
        the daily OHLCV for every other day. You could set \"interval\" to \"monthly\"
        to get the first daily OHLCV for each month, or set it to \"yearly\" to get
        the daily OHLCV value against the same date every year.  \n\n**Implementation
        Tips**\n- If querying for a specific OHLCV date your \"time_start\" should
        specify a timestamp of 1 interval prior as \"time_start\" is an exclusive
        time parameter (as opposed to \"time_end\" which is inclusive to the search).
        This means that when you pass a \"time_start\" results will be returned for
        the *next* complete \"time_period\". For example, if you are querying for
        a daily OHLCV datapoint for 2018-11-30 your \"time_start\" should be \"2018-11-29\".
        \  \n- If only specifying a \"count\" parameter to return latest OHLCV periods,
        your \"count\" should be 1 number higher than the number of results you expect
        to receive. \"Count\" defines the number of \"time_period\" intervals queried,
        *not* the number of results to return, and this includes the currently active
        time period which is incomplete when working backwards from current time.
        For example, if you want the last daily OHLCV value available simply pass
        \"count=2\" to skip the incomplete active time period.\n- This endpoint supports
        requesting multiple cryptocurrencies in the same call. Please note the API
        response will be wrapped in an additional object in this case.  \n  \n**Interval
        Options**  \n  \nThere are 2 types of time interval formats that may be used
        for \"time_period\" and \"interval\" parameters. For \"time_period\" these
        return aggregate OHLCV data from the beginning to end of each interval period.
        Apply these time intervals to \"interval\" to adjust how frequently \"time_period\"
        is sampled.  \n  \nThe first are calendar year and time constants in UTC time:
        \ \n**\"hourly\"** - Hour intervals in UTC.  \n**\"daily\"** - Calendar day
        intervals for each UTC day.  \n**\"weekly\"** - Calendar week intervals for
        each calendar week.  \n**\"monthly\"** - Calendar month intervals for each
        calendar month.    \n**\"yearly\"** - Calendar year intervals for each calendar
        year.  \n  \nThe second are relative time intervals.  \n**\"h\"**: Get the
        first quote available every \"h\" hours (3600 second intervals). Supported
        hour intervals are: \"1h\", \"2h\", \"3h\", \"4h\", \"6h\", \"12h\".  \n**\"d\"**:
        Time periods that repeat every \"d\" days (86400 second intervals). Supported
        day intervals are: \"1d\", \"2d\", \"3d\", \"7d\", \"14d\", \"15d\", \"30d\",
        \"60d\", \"90d\", \"365d\".  \n  \nPlease note that \"time_period\" currently
        supports the \"daily\" and \"hourly\" options. \"interval\" supports all interval
        options.  \n  \n**This endpoint is available on the following <a href=\"https://coinmarketcap.com/api/features\"
        target=\"_blank\">API plans</a>:**  \n- ~~Basic~~\n- ~~Hobbyist~~\n- Startup
        (1 month)\n- Standard (3 months)\n- Professional (12 months)\n- Enterprise
        (Up to 6 years)\n\n**Cache / Update frequency:** Latest Daily OHLCV record
        is available ~5 to ~10 minutes after each midnight UTC. The latest hourly
        OHLCV record is available 5 minutes after each UTC hour.  \n**Plan credit
        use:** 1 call credit per 100 OHLCV data points returned (rounded up) and 1
        call credit per `convert` option beyond the first.  \n**CMC equivalent pages:**
        Our historical cryptocurrency data pages like [coinmarketcap.com/currencies/bitcoin/historical-data/](https://coinmarketcap.com/currencies/bitcoin/historical-data/)."
      parameters:
      - type: string
        description: 'One or more comma-separated CoinMarketCap cryptocurrency IDs.
          Example: "1,1027"'
        pattern: "^\\d+(?:,\\d+)*$"
        name: id
        in: query
      - type: string
        description: 'Alternatively pass a comma-separated list of cryptocurrency
          slugs. Example: "bitcoin,ethereum"'
        pattern: "^[0-9a-z-]+(?:,[0-9a-z-]+)*$"
        x-convert:
          lowercase: true
        name: slug
        in: query
      - type: string
        description: 'Alternatively pass one or more comma-separated cryptocurrency
          symbols. Example: "BTC,ETH". At least one "id" *or* "slug" *or* "symbol"
          is required for this request.'
        pattern: "^[0-9A-Za-z$@\\-,]+(?:,[0-9A-Za-z$@\\-]+)*$"
        name: symbol
        in: query
      - type: string
        description: Time period to return OHLCV data for. The default is "daily".
          See the main endpoint description for details.
        default: daily
        enum:
        - daily
        - hourly
        name: time_period
        in: query
      - type: string
        description: Timestamp (Unix or ISO 8601) to start returning OHLCV time periods
          for. Only the date portion of the timestamp is used for daily OHLCV so it's
          recommended to send an ISO date format like "2018-09-19" without time.
        name: time_start
        in: query
      - type: string
        description: Timestamp (Unix or ISO 8601) to stop returning OHLCV time periods
          for (inclusive). Optional, if not passed we'll default to the current time.
          Only the date portion of the timestamp is used for daily OHLCV so it's recommended
          to send an ISO date format like "2018-09-19" without time.
        name: time_end
        in: query
      - type: number
        description: Optionally limit the number of time periods to return results
          for. The default is 10 items. The current query limit is 10000 items.
        default: 10
        minimum: 1
        maximum: 10000
        name: count
        in: query
      - type: string
        description: Optionally adjust the interval that "time_period" is sampled.
          See main endpoint description for available options.
        default: daily
        enum:
        - hourly
        - daily
        - weekly
        - monthly
        - yearly
        - 1h
        - 2h
        - 3h
        - 4h
        - 6h
        - 12h
        - 1d
        - 2d
        - 3d
        - 7d
        - 14d
        - 15d
        - 30d
        - 60d
        - 90d
        - 365d
        name: interval
        in: query
      - type: string
        description: By default market quotes are returned in USD. Optionally calculate
          market quotes in up to 3 fiat currencies or cryptocurrencies.
        pattern: "^[0-9A-Za-z$@\\-,]+(?:,[0-9A-Za-z$@\\-]+)*$"
        name: convert
        in: query
      - type: string
        description: 'Optionally calculate market quotes by CoinMarketCap ID instead
          of symbol. This option is identical to `convert` outside of ID format. Ex:
          convert_id=1,2781 would replace convert=BTC,USD in your query. This parameter
          cannot be used when `convert` is used.'
        pattern: "^\\d+(?:,\\d+)*$"
        name: convert_id
        in: query
      - type: boolean
        description: Pass `true` to relax request validation rules. When requesting
          records on multiple cryptocurrencies an error is returned if any invalid
          cryptocurrencies are requested or a cryptocurrency does not have matching
          records in the requested timeframe. If set to true, invalid lookups will
          be skipped allowing valid cryptocurrencies to still be returned.
        default: false
        name: skip_invalid
        in: query
      tags:
      - cryptocurrency
      responses:
        '200':
          schema:
            "$ref": "#/definitions/Cryptocurrency OHLCV Historical - Response Model"
          description: Successful
        '400':
          description: Bad Request
          schema:
            "$ref": "#/definitions/HTTP Status 400 Error Object"
            description: Bad Request
        '401':
          description: Unauthorized
          schema:
            "$ref": "#/definitions/HTTP Status 401 Error Object"
            description: Unauthorized
        '403':
          description: Forbidden
          schema:
            "$ref": "#/definitions/HTTP Status 403 Error Object"
            description: Forbidden
        '429':
          description: Too Many Requests
          schema:
            "$ref": "#/definitions/HTTP Status 429 Error Object"
            description: Too Many Requests
        '500':
          description: Internal Server Error
          schema:
            "$ref": "#/definitions/HTTP Status 500 Error Object"
            description: Internal Server Error
  "/v1/cryptocurrency/ohlcv/latest":
    get:
      summary: OHLCV Latest
      operationId: getV1CryptocurrencyOhlcvLatest
      description: "Returns the latest OHLCV (Open, High, Low, Close, Volume) market
        values for one or more cryptocurrencies for the current UTC day. Since the
        current UTC day is still active these values are updated frequently. You can
        find the final calculated OHLCV values for the last completed UTC day along
        with all historic days using /cryptocurrency/ohlcv/historical. \n\n  **This
        endpoint is available on the following <a href=\"https://coinmarketcap.com/api/features\"
        target=\"_blank\">API plans</a>:**\n  - ~~Basic~~\n  - ~~Hobbyist~~\n  - Startup\n
        \ - Standard\n  - Professional\n  - Enterprise\n\n  **Cache / Update frequency:**
        Every 5 minutes. Additional OHLCV intervals and 1 minute updates will be available
        in the future.  \n  **Plan credit use:** 1 call credit per 100 OHLCV values
        returned (rounded up) and 1 call credit per `convert` option beyond the first.
        \ \n  **CMC equivalent pages:** No equivalent, this data is only available
        via API."
      parameters:
      - type: string
        description: 'One or more comma-separated cryptocurrency CoinMarketCap IDs.
          Example: 1,2'
        pattern: "^\\d+(?:,\\d+)*$"
        name: id
        in: query
      - type: string
        description: 'Alternatively pass one or more comma-separated cryptocurrency
          symbols. Example: "BTC,ETH". At least one "id" *or* "symbol" is required.'
        pattern: "^[0-9A-Za-z$@\\-,]+(?:,[0-9A-Za-z$@\\-]+)*$"
        name: symbol
        in: query
      - type: string
        description: Optionally calculate market quotes in up to 120 currencies at
          once by passing a comma-separated list of cryptocurrency or fiat currency
          symbols. Each additional convert option beyond the first requires an additional
          call credit. A list of supported fiat options can be found [here](#section/Standards-and-Conventions).
          Each conversion is returned in its own "quote" object.
        pattern: "^[0-9A-Za-z$@\\-,]+(?:,[0-9A-Za-z$@\\-]+)*$"
        name: convert
        in: query
      - type: string
        description: 'Optionally calculate market quotes by CoinMarketCap ID instead
          of symbol. This option is identical to `convert` outside of ID format. Ex:
          convert_id=1,2781 would replace convert=BTC,USD in your query. This parameter
          cannot be used when `convert` is used.'
        pattern: "^\\d+(?:,\\d+)*$"
        name: convert_id
        in: query
      - type: boolean
        description: Pass `true` to relax request validation rules. When requesting
          records on multiple cryptocurrencies an error is returned if any invalid
          cryptocurrencies are requested or a cryptocurrency does not have matching
          records in the requested timeframe. If set to true, invalid lookups will
          be skipped allowing valid cryptocurrencies to still be returned.
        default: false
        name: skip_invalid
        in: query
      tags:
      - cryptocurrency
      responses:
        '200':
          schema:
            "$ref": "#/definitions/Cryptocurrency OHLCV Latest - Response Model"
          description: Successful
        '400':
          description: Bad Request
          schema:
            "$ref": "#/definitions/HTTP Status 400 Error Object"
            description: Bad Request
        '401':
          description: Unauthorized
          schema:
            "$ref": "#/definitions/HTTP Status 401 Error Object"
            description: Unauthorized
        '403':
          description: Forbidden
          schema:
            "$ref": "#/definitions/HTTP Status 403 Error Object"
            description: Forbidden
        '429':
          description: Too Many Requests
          schema:
            "$ref": "#/definitions/HTTP Status 429 Error Object"
            description: Too Many Requests
        '500':
          description: Internal Server Error
          schema:
            "$ref": "#/definitions/HTTP Status 500 Error Object"
            description: Internal Server Error
  "/v1/cryptocurrency/price-performance-stats/latest":
    get:
      summary: Price Performance Stats
      operationId: getV1CryptocurrencyPriceperformancestatsLatest
      description: "Returns price performance statistics for one or more cryptocurrencies
        including launch price ROI and all-time high / all-time low. Stats are returned
        for an `all_time` period by default. UTC `yesterday` and a number of *rolling
        time periods* may be requested using the `time_period` parameter. Utilize
        the `convert` parameter to translate values into multiple fiats or cryptocurrencies
        using historical rates.\n\n\n  **This endpoint is available on the following
        <a href=\"https://coinmarketcap.com/api/features\" target=\"_blank\">API plans</a>:**\n
        \ - ~~Basic~~\n  - ~~Hobbyist~~\n  - Startup\n  - Standard\n  - Professional\n
        \ - Enterprise\n\n**Cache / Update frequency:** Every 60 seconds.  \n**Plan
        credit use:** 1 call credit per 100 cryptocurrencies returned (rounded up)
        and 1 call credit per `convert` option beyond the first.  \n**CMC equivalent
        pages:** The statistics module displayed on cryptocurrency pages like [Bitcoin](https://coinmarketcap.com/currencies/bitcoin/).
        \    \n  \n***NOTE:** You may also use [/cryptocurrency/ohlcv/historical](#operation/getV1CryptocurrencyOhlcvHistorical)
        for traditional OHLCV data at historical daily and hourly intervals. You may
        also use [/v1/cryptocurrency/ohlcv/latest](#operation/getV1CryptocurrencyOhlcvLatest)
        for OHLCV data for the current UTC day.* "
      parameters:
      - type: string
        description: 'One or more comma-separated cryptocurrency CoinMarketCap IDs.
          Example: 1,2'
        pattern: "^\\d+(?:,\\d+)*$"
        name: id
        in: query
      - type: string
        description: 'Alternatively pass a comma-separated list of cryptocurrency
          slugs. Example: "bitcoin,ethereum"'
        pattern: "^[0-9a-z-]+(?:,[0-9a-z-]+)*$"
        x-convert:
          lowercase: true
        name: slug
        in: query
      - type: string
        description: 'Alternatively pass one or more comma-separated cryptocurrency
          symbols. Example: "BTC,ETH". At least one "id" *or* "slug" *or* "symbol"
          is required for this request.'
        pattern: "^[0-9A-Za-z$@\\-,]+(?:,[0-9A-Za-z$@\\-]+)*$"
        name: symbol
        in: query
      - type: string
        description: 'Specify one or more comma-delimited time periods to return stats
          for. `all_time` is the default. Pass `all_time,yesterday,24h,7d,30d,90d,365d`
          to return all supported time periods. All rolling periods have a rolling
          close time of the current request time. For example `24h` would have a close
          time of now and an open time of 24 hours before now. *Please note: `yesterday`
          is a UTC period and currently does not currently support `high` and `low`
          timestamps.*'
        default: all_time
        pattern: "^(all_time|yesterday|24h|7d|30d|90d|365d)+(?:,(all_time|yesterday|24h|7d|30d|90d|365d)+)*$"
        name: time_period
        in: query
      - type: string
        description: Optionally calculate quotes in up to 120 currencies at once by
          passing a comma-separated list of cryptocurrency or fiat currency symbols.
          Each additional convert option beyond the first requires an additional call
          credit. A list of supported fiat options can be found [here](#section/Standards-and-Conventions).
          Each conversion is returned in its own "quote" object.
        pattern: "^[0-9A-Za-z$@\\-,]+(?:,[0-9A-Za-z$@\\-]+)*$"
        name: convert
        in: query
      - type: string
        description: 'Optionally calculate quotes by CoinMarketCap ID instead of symbol.
          This option is identical to `convert` outside of ID format. Ex: convert_id=1,2781
          would replace convert=BTC,USD in your query. This parameter cannot be used
          when `convert` is used.'
        pattern: "^\\d+(?:,\\d+)*$"
        name: convert_id
        in: query
      - type: boolean
        description: Pass `true` to relax request validation rules. When requesting
          records on multiple cryptocurrencies an error is returned if no match is
          found for 1 or more requested cryptocurrencies. If set to true, invalid
          lookups will be skipped allowing valid cryptocurrencies to still be returned.
        default: false
        name: skip_invalid
        in: query
      tags:
      - cryptocurrency
      responses:
        '200':
          schema:
            "$ref": "#/definitions/Cryptocurrency Price Performance Stats Latest -
              Response Model"
          description: Successful
        '400':
          description: Bad Request
          schema:
            "$ref": "#/definitions/HTTP Status 400 Error Object"
            description: Bad Request
        '401':
          description: Unauthorized
          schema:
            "$ref": "#/definitions/HTTP Status 401 Error Object"
            description: Unauthorized
        '403':
          description: Forbidden
          schema:
            "$ref": "#/definitions/HTTP Status 403 Error Object"
            description: Forbidden
        '429':
          description: Too Many Requests
          schema:
            "$ref": "#/definitions/HTTP Status 429 Error Object"
            description: Too Many Requests
        '500':
          description: Internal Server Error
          schema:
            "$ref": "#/definitions/HTTP Status 500 Error Object"
            description: Internal Server Error
  "/v1/cryptocurrency/quotes/historical":
    get:
      summary: Quotes Historical
      operationId: getV1CryptocurrencyQuotesHistorical
      description: "Returns an interval of historic market quotes for any cryptocurrency
        based on time and interval parameters.\n\n**Technical Notes**  \n- A historic
        quote for every \"interval\" period between your \"time_start\" and \"time_end\"
        will be returned.  \n- If a \"time_start\" is not supplied, the \"interval\"
        will be applied in reverse from \"time_end\".  \n- If \"time_end\" is not
        supplied, it defaults to the current time.  \n- At each \"interval\" period,
        the historic quote that is closest in time to the requested time will be returned.
        \ \n- If no historic quotes are available in a given \"interval\" period up
        until the next interval period, it will be skipped.  \n\n**Implementation
        Tips**\n- Want to get the last quote of each UTC day? Don't use \"interval=daily\"
[...]
